	<div class="clearfix"></div>
	
	<div class="col-md-12" style="padding:30px 0px 0px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="images/MyImages/news41.png" alt="First slide" />
                                <div class="carousel-caption d-none d-md-block">
                                    <h5></h5>
                                    <p></p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="images/MyImages/news8.png" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="images/MyImages/news7.png" alt="Third slide">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row inrow">
                        <div class="col-md-4">
                            <img class="responsive" src="images/MyImages/news12.png" />
                        </div>
                        <div class="col-md-8">
                            <a href="PhilippinesDemoContest">
                                <h3 class="inhead">Expert Global Miners Announces the Launch of Demo Trading Contest for the traders of United State of America</h3>
                            </a>
                            <p class="inpara">
                                Join and take a dive into the exciting world of Forex trading competition with Expert Global Miners.
                            </p>
                            <span class="livedate">Posted on 18/03/2020</span>
                        </div>
                    </div>

                    <div class="row inrow">
                        <div class="col-md-4">
                            <img class="responsive" src="images/MyImages/news2.png" />
                        </div>
                        <div class="col-md-8">
                            <a href="thailanddemocontest">
                                <h3 class="inhead">Demo Trading Contest for the traders of Thailand, Indonesia and Malaysia</h3>
                            </a>
                            <p class="inpara">
                                Expert Global Miners demo contest provide traders a chance to get real money without investing your own funds.
                               
                            </p>
                            <span class="livedate">Posted on 01/03/2020</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	 <div style="margin-bottom: 25px;"></div>
	
    <div class="col-md-12 newsbx">
        <div class="container">
            <div class="borderhead">
                <div class="headtitle">
                    Company Announcements
                </div>
                <hr />
            </div>
			<div class="row">
                <div class="col-md-5 col-xs-12">
                    <img class="responsive" src="images/ndbAnnouncement.png" />
                </div>
                <div class="col-md-7 col-xs-12">
                    <h3 class="newshead">Get $30 in this Christmas for free</h3>
                    <p class="newspara">
                        With Expert Global Miners it is easy to make money trading Forex. We make every effort to provide the best customer experience and give the widest opportunities to our trader!
                    </p>
                    <div class="morebtn">
                        <a class="newsbtn" href="#">Read More</a>
                    </div>
                </div>
            </div>
			<br>
						            <div class="row">
                <div class="col-md-5 col-xs-12">
                    <img class="responsive" src="images/win_ancmt.png" />
                </div>
                <div class="col-md-7 col-xs-12">
                    <h3 class="newshead">Winner Announcement for Demo Contests - Expert Global Miners</h3>
                    <p class="newspara">Today we are pleased to announce the winners of Thailand & Philippines demo contests. This contest was an incredible opportunity for traders to show their best trading skills.</p>
                    <div class="morebtn">
                        <a class="newsbtn" href="https://secure.Expert Global Miners.io/winner_announcement">Read More</a>
                    </div>
                </div>
            </div>
			<br>
            <div class="row">
                <div class="col-md-5 col-xs-12">
                    <img class="responsive" src="images/MyImages/news51.png" />
                </div>
                <div class="col-md-7 col-xs-12">
                    <h3 class="newshead">Expert Global Miners Announces the Launch of 30% Tradable Bonus up to $7500 for all traders</h3>
                    <p class="newspara">
                        Expert Global Miners Offers you to double your investment with Forex Tradable Bonus. Feel secure with a broker that ensure safety of your fund
                        and provides the best trading environment to make most out of your strategy<br />
                        Trade Any Time Anywhere.
                    </p>
                    <div class="morebtn">
                        <a class="newsbtn" href="tradable_bonuses30">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-xs-12">
                    <img class="responsive" src="images/MyImages/news61.png" />
                </div>
                <div class="col-md-7 col-xs-12">
                    <h3 class="newshead">Expert Global Miners Announces the Launch of ECN Pro Trading Account</h3>
                    <p class="newspara">The ECN Pro Account accommodates the experienced retail forex traders. A key feature is the ECN PRO Spread received which favors scalping strategies. There is a minimum trade size of 0.01 lots and the trade size increment remains flexible at 0.01.</p>
                    <div class="morebtn">
                        <a class="newsbtn" href="ecn-pro-account">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-bottom: 25px;"></div>

    <div class="col-md-12 newsbx">
        <div class="container">
            <div class="row">
                <label>Get $1000 to your trading account in August with Expert Global Miners Demo Contest</label>
            </div>
            <div class="row">
                <label>Team up with us and get a chance to win exciting prizes</label>
            </div>
        </div>
    </div>


    <div class="clearfix"></div>


