		<div class="banner_sec">
		<img src="images/trading_platform.jpg" alt="Forex Trading Platform">
	</div>
	<!---banner_sec-->
	
	<div class="main_contact">
		<div class="container">
			<div class="contact_heding text-center">
				<h1>TOP ONLINE FOREX TRADING PLATFORM</h1>
				<p>Forex Trading Platform is software, which acts as a medium between traders and brokers. Selecting a good platform is
					the first step in your journey into foreign exchange market. Here in IdealFx we will provide you Top Trading Platforms to suit your trading needs.
					We have the MetaTrader4 platform for your Desktop, Android and iPhone/ iPad too.
					</p>
			</div>
			<div class="account_boxs row">
				<div class="col-12 col-md-6 col-sm-6 col-lg-4 col-xl-4">
					<div class="column-inner">
						<h2>
							<span>Desktop </span> Trader</h2>
						<p>IdealFx MetaTrader 4 platform enables traders to penetrate and explore the FX, Precious Metals, Indices, Commodities
							and Energies Markets.</p>
						<a href="metatrader-4-pc">Read More</a>
					</div>
				</div>
				<div class="col-12 col-md-6 col-sm-6 col-lg-4 col-xl-4">
					<div class="column-inner">
						<h2>
							<span>Android </span> Trader</h2>
						<p>Android Trader is an award-winning best forex trading platform. IdealFx provides you the technology to trade directly
							from Android Smartphone.</p>
						<a href="metatrader-4-android">Read More</a>
					</div>
				</div>
				<div class="col-12 col-md-6 col-sm-6 col-lg-4 col-xl-4">
					<div class="column-inner">
						<h2>
							<span>Iphone </span> Trader</h2>
						<p>Cutting edge forex trading platform iphone trader technology allows you to trade on-the-go, view real time account
							information with your iPhone.</p>
						<a href="metatrader-4-iPhone-trader">Read More</a>
					</div>
				</div>
				<div class="offset-lg-4 offset-xl-4 col-12 col-md-6 col-sm-6 col-lg-4 col-xl-4">
					<div class="column-inner">
						<h2>
							<span>Ipad </span> Trader</h2>
						<p>Use the innovative iPad device to fully trade on the MT4. Connect directly to your live account and trade with your
							iPad Touch.</p>
						<a href="metatrader-4-ipad-trader">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="live_links">
		<a target="_blank" href="https://secure.idealfx.io/">Member Login</a>
		<span>or</span>
		<a target="_blank" href="https://secure.idealfx.io/">Open Live Account</a>
	</div>