	<div class="banner_sec">
		
	</div>
	<!---banner_sec-->
	<div class="breadcrumb">
		<div class="container">
			<span>HOME / Education /
				<a href="#">Contract Sizes</a>
			</span>
		</div>
	</div>
	<div style="height:145px"></div>
	<div class="main_contact">
		<div class="container">
			<div class="contact_heding comparison text-center">
<h2 class="text-left"> Contract Sizes</h2>

<p>   Each standard lot traded in the Forex market is a 100,000 (of the base currency) contract. In other words, when trading one lot in a standard account, a trader is essentially placing a $100,000 trade in the market. Without leverage, many investors would not be able to afford such a transaction. Leverage of 1:100 would allow a trader to place the same one lot ($100,000) trade by posting $1,000 in margin. </p>

<p>   Many retail Forex brokers also offer the ability to trade mini lots. Mini lots essentially allow the trader to trade one tenth of a standard lot. Trading in this size is often referred to as trading a mini lot. Mini lot contracts are $10,000 (of the base currency). A trade of one mini lot would be a $10,000 trade. Trading with 1:100 leverage would mean that $100 of margin would control a $10,000 contract. </p>

<p>   Here at IdealFx we have also introduced the Micro account offering 1:1000 leverage and a minimum trade size of 1 micro lot or $1,000. </p>










			</div>
		</div>
	</div>
	<div class="live_links">
		<a target="_blank" href="https://secure.idealfx.io/">Open Live Account</a>
		<span>or</span>
		<a target="_blank" href="https://secure.idealfx.io/">Open Demo Account</a>
	</div>
	
		<div id="footerDiv">

		</div>
</body>


<!-- Mirrored from www.idealfx.io/en/Contract-Sizes.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 May 2020 20:40:26 GMT -->
</html>