<div class="banner_sec"> <img src="images/contact_us_image.jpg" />
</div>
<!---banner_sec-->


<div class="breadcrumb">
  <div class="container"> <span>HOME /
      <a href="#">CONTACT US</a> </span>
  </div>
</div>
<div class="main_contact">
  <div class="container">
    <div class="contact_heding text-center">
      <h1>Contact us</h1>
      <p>Expert Global Miners is here to provide you with more information,answer any question you may have and create
        an effective solution
        for your instructional needs.</p>
    </div>
    <div class="contact_box row contact_page">
      <div class="col-12 col-md-6 col-sm-12 col-lg-6">
        <div class="column-inner">
          <h2>ADDRESS</h2>
          <p>118-132 New Bah St, Fitzrovia, LD WC1A 1HD,
            <br /> UK/p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-sm-12 col-lg-6">
        <div class="column-inner">
          <h2>EMAIL:</h2>
          <p>support@globalfxminers.us
            <br /> trade@globalfxminers.us
            <br /> partners@globalfxminers.us
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-sm-6 col-lg-6">
        <div class="column-inner">
          <h2>PHONE</h2>
          <p>+12133755913
            <br /><b>Skype:</b> Expert Global Miners
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-sm-6 col-lg-6">
        <div class="column-inner">
          <h2>OFFICE HOURS</h2>
          <ul>
            <li>24/5</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="map">&nbsp;
</div>
<div class="live_links"> <a target="_blank" href="trade/signup">Open Live Account</a> <span>or</span> <a target="_blank"
    href="trade/signup">Open Demo Account</a>
</div>