    <div class="col-md-12" style="padding:0px">
        <img class="responsive" src="images/MyImages/crypto02.png" alt="Cryptocurrencies Trading" />
    </div>

    <div class="col-md-12 text-center">
        <div class="container">
            <h3 class="fx-head">CryptoCurrency</h3>
            <p class="fx-para">
                Buy and Sell Bitcoin, Litcoin, Etherium and other most traded cryptocurrencies 
                on Top Trading Platform.
            </p>
        </div>

        <div class="col-md-12" style="margin-bottom: 40px"></div>

        <div class="col-md-12">
            <div class="container">
                <h5 class="fx-heading">Cryptocurrency Trading Products Specification</h5>
                <hr />
            </div>
        </div>

		<div style="overflow-x:auto;">
        <div class="col-md-12">
            <div class="container">
                <div class="m-b-30">
                    <table class="table example table-striped align-center instruments-with-swaps-and-hours" id="products_cryptocurrencies" style="border: 2px solid #f5f5f5;">
                        <thead>
                            <tr class="tableHeader color-light bg-color-black">
                                <th class="text-align-center vertical-align-middle">Type</th>
                                <th class="vertical-align-middle">Inst. Currency Pairs</th>
                                <th class="text-align-center vertical-align-middle">Description</th>
                                <th class="text-align-center vertical-align-middle">Contract Size (1 Lot)</th>
                                <th class="text-align-center vertical-align-middle">Min. Trade Size</th>
                                <th class="text-align-center vertical-align-middle">Digits</th>
                                <th class="text-align-center vertical-align-middle">Margin Percentage</th>
                                <th class="text-align-center vertical-align-middle">Swap Long</th>
                                <th class="text-align-center vertical-align-middle">Swap Short</th>
                                <th class="text-align-center vertical-align-middle">Spread</th>
                                <th class="text-align-center vertical-align-middle">Trading Session (Server time)</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Crypto</td>
                                <td class="vertical-align-middle text-align-center">BTCEUR</td>
                                <td class="vertical-align-middle text-align-center">Bitcoin vs Euro</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">2</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-446.43</td>
                                <td class="vertical-align-middle text-align-center">-446.43</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Crypto</td>
                                <td class="vertical-align-middle text-align-center">BTCGBP</td>
                                <td class="vertical-align-middle text-align-center">Bitcoin vs British Pound</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">2</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-390.1821</td>
                                <td class="vertical-align-middle text-align-center">-390.1821</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Crypto</td>
                                <td class="vertical-align-middle text-align-center">BTCJPY</td>
                                <td class="vertical-align-middle text-align-center">BITCOIN/YEN</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">0</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-570.75</td>
                                <td class="vertical-align-middle text-align-center">-570.75</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Crypto</td>
                                <td class="vertical-align-middle text-align-center">BTCUSD</td>
                                <td class="vertical-align-middle text-align-center">Bitcoin vs United States Dollar</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">2</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-521.2823</td>
                                <td class="vertical-align-middle text-align-center">-521.2823</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Crypto-Alt</td>
                                <td class="vertical-align-middle text-align-center">ETHBTC</td>
                                <td class="vertical-align-middle text-align-center">ETHEREUM VS BITCOIN</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">5</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-5.4236</td>
                                <td class="vertical-align-middle text-align-center">-5.4236</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Crypto-Alt</td>
                                <td class="vertical-align-middle text-align-center">ETHEUR</td>
                                <td class="vertical-align-middle text-align-center">ETHEREUM VS BRITISH POUND</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">2</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-34.552</td>
                                <td class="vertical-align-middle text-align-center">-34.552</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Crypto-Alt</td>
                                <td class="vertical-align-middle text-align-center">ETHGBP</td>
                                <td class="vertical-align-middle text-align-center">ETHEREUM VS BRITISH POUND</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">2</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-30.2</td>
                                <td class="vertical-align-middle text-align-center">-30.2</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Crypto-Alt</td>
                                <td class="vertical-align-middle text-align-center">ETHJPY</td>
                                <td class="vertical-align-middle text-align-center">ETHEREUM VS JAPANESE YEN</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">0</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-44.1742</td>
                                <td class="vertical-align-middle text-align-center">-44.1742</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Crypto-Alt</td>
                                <td class="vertical-align-middle text-align-center">ETHUSD</td>
                                <td class="vertical-align-middle text-align-center">ETHEREUM VS US DOLLAR</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">2</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-40.5</td>
                                <td class="vertical-align-middle text-align-center">-40.5</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Crypto-Alt</td>
                                <td class="vertical-align-middle text-align-center">LTCBTC</td>
                                <td class="vertical-align-middle text-align-center">LITECOIN AND BITCOIN</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">5</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-1.1151</td>
                                <td class="vertical-align-middle text-align-center">-1.1151</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Crypto-Alt</td>
                                <td class="vertical-align-middle text-align-center">LTCUSD</td>
                                <td class="vertical-align-middle text-align-center">LITECOIN AND US DOLLAR</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">2</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-8.2964</td>
                                <td class="vertical-align-middle text-align-center">-8.2964</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Cryptos - Alt2</td>
                                <td class="vertical-align-middle text-align-center">EOSBIT</td>
                                <td class="vertical-align-middle text-align-center">EOS VS BIT</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">5</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-78176</td>
                                <td class="vertical-align-middle text-align-center">-78176</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Cryptos - Alt2</td>
                                <td class="vertical-align-middle text-align-center">EOSUSD</td>
                                <td class="vertical-align-middle text-align-center">EOS VS US DOLLAR</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">4</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-85.1298</td>
                                <td class="vertical-align-middle text-align-center">-85.1298</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Cryptos - Alt2</td>
                                <td class="vertical-align-middle text-align-center">TRXUSD</td>
                                <td class="vertical-align-middle text-align-center">TRON VS US DOLLAR</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">5</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-4.0999</td>
                                <td class="vertical-align-middle text-align-center">-4.0999</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Cryptos - Alt2</td>
                                <td class="vertical-align-middle text-align-center">XRPBIT</td>
                                <td class="vertical-align-middle text-align-center">RIPPLE VS BIT</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">5</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-5747.02</td>
                                <td class="vertical-align-middle text-align-center">-5747.02</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Cryptos - Alt2</td>
                                <td class="vertical-align-middle text-align-center">XRPUSD</td>
                                <td class="vertical-align-middle text-align-center">RIPPLE V US DOLLAR</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">5</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-42.6524</td>
                                <td class="vertical-align-middle text-align-center">-42.6524</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Cryptos-SmlCap</td>
                                <td class="vertical-align-middle text-align-center">DASHBTC</td>
                                <td class="vertical-align-middle text-align-center">DASH V BITCOIN</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">5</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-2.8742</td>
                                <td class="vertical-align-middle text-align-center">-2.8742</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Cryptos-SmlCap</td>
                                <td class="vertical-align-middle text-align-center">DASHUSD</td>
                                <td class="vertical-align-middle text-align-center">DASH V US DOLLAR</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">2</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-21.3941</td>
                                <td class="vertical-align-middle text-align-center">-21.3941</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Cryptos-SmlCap</td>
                                <td class="vertical-align-middle text-align-center">EDOBIT</td>
                                <td class="vertical-align-middle text-align-center">EIDOO V BIT</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">5</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-9855</td>
                                <td class="vertical-align-middle text-align-center">-9855</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Cryptos-SmlCap</td>
                                <td class="vertical-align-middle text-align-center">EDOUSD</td>
                                <td class="vertical-align-middle text-align-center">EIDOO V US DOLLAR</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">4</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-10.6337</td>
                                <td class="vertical-align-middle text-align-center">-10.6337</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Cryptos-SmlCap</td>
                                <td class="vertical-align-middle text-align-center">ETPBIT</td>
                                <td class="vertical-align-middle text-align-center">ETP V BIT</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">5</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-8163.9705</td>
                                <td class="vertical-align-middle text-align-center">-8163.9705</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Cryptos-SmlCap</td>
                                <td class="vertical-align-middle text-align-center">ETPUSD</td>
                                <td class="vertical-align-middle text-align-center">ETP V US DOLLAR</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">4</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-6.062</td>
                                <td class="vertical-align-middle text-align-center">-6.062</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Cryptos-SmlCap</td>
                                <td class="vertical-align-middle text-align-center">IOTABIT</td>
                                <td class="vertical-align-middle text-align-center">IOTA V BIT</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">5</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-17280.9882</td>
                                <td class="vertical-align-middle text-align-center">-17280.9882</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Cryptos-SmlCap</td>
                                <td class="vertical-align-middle text-align-center">IOTAUSD</td>
                                <td class="vertical-align-middle text-align-center">IOTA V US DOLLAR</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">4</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-12.8653</td>
                                <td class="vertical-align-middle text-align-center">-12.8653</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Cryptos-SmlCap</td>
                                <td class="vertical-align-middle text-align-center">NEOBTC</td>
                                <td class="vertical-align-middle text-align-center">NEO V BITCOIN</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">5</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-0.5082</td>
                                <td class="vertical-align-middle text-align-center">-0.5082</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Cryptos-SmlCap</td>
                                <td class="vertical-align-middle text-align-center">NEOUSD</td>
                                <td class="vertical-align-middle text-align-center">NEO V US DOLLAR</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">2</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-3.7835</td>
                                <td class="vertical-align-middle text-align-center">-3.7835</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Cryptos-SmlCap</td>
                                <td class="vertical-align-middle text-align-center">OMGBIT</td>
                                <td class="vertical-align-middle text-align-center">OMISE GO V BIT</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">5</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-99095.8857</td>
                                <td class="vertical-align-middle text-align-center">-99095.8857</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Cryptos-SmlCap</td>
                                <td class="vertical-align-middle text-align-center">OMGUSD</td>
                                <td class="vertical-align-middle text-align-center">Omise GO V US DOLLAR</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">4</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-73.6722</td>
                                <td class="vertical-align-middle text-align-center">-73.6722</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Cryptos-SmlCap</td>
                                <td class="vertical-align-middle text-align-center">SANBIT</td>
                                <td class="vertical-align-middle text-align-center">Santiment V BIT</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">5</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-11625.7743</td>
                                <td class="vertical-align-middle text-align-center">-11625.7743</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Cryptos-SmlCap</td>
                                <td class="vertical-align-middle text-align-center">SANUSD</td>
                                <td class="vertical-align-middle text-align-center">Santiment V US DOLLAR</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">4</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-8.5498</td>
                                <td class="vertical-align-middle text-align-center">-8.5498</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Cryptos-SmlCap</td>
                                <td class="vertical-align-middle text-align-center">XMRBTC</td>
                                <td class="vertical-align-middle text-align-center">MONERO V BITCOIN</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">5</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-1.4595</td>
                                <td class="vertical-align-middle text-align-center">-1.4595</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Cryptos-SmlCap</td>
                                <td class="vertical-align-middle text-align-center">XMRUSD</td>
                                <td class="vertical-align-middle text-align-center">MONERO V US DOLLAR</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">2</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-10.8367</td>
                                <td class="vertical-align-middle text-align-center">-10.8367</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Cryptos-SmlCap</td>
                                <td class="vertical-align-middle text-align-center">ZECBTC</td>
                                <td class="vertical-align-middle text-align-center">ZCASH V BITCOIN</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">5</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-2.268</td>
                                <td class="vertical-align-middle text-align-center">-2.268</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                            <tr class="hoverable">
                                <td class="vertical-align-middle text-align-center">Cryptos-SmlCap</td>
                                <td class="vertical-align-middle text-align-center">ZECUSD</td>
                                <td class="vertical-align-middle text-align-center">ZCASH V US DOLLAR</td>
                                <td class="vertical-align-middle text-align-center">1</td>
                                <td class="vertical-align-middle text-align-center">.01 lot</td>
                                <td class="vertical-align-middle text-align-center">2</td>
                                <td class="vertical-align-middle text-align-center">10%</td>
                                <td class="vertical-align-middle text-align-center">-16.8665</td>
                                <td class="vertical-align-middle text-align-center">-16.8665</td>
                                <td class="vertical-align-middle text-align-center">Floating</td>
                                <td class="vertical-align-middle text-align-center">00:05 -23:55</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
	</div>
    </div>

    <!--<div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 m-b-30">
                <h6>Important</h6>

                <ol class="numeric-list">
                    <li>Swaps values may be adjusted daily based on market conditions and rates provided by our Price Provider applicable to all open positions. Triple swaps are applied every Wednesday.</li>
                    <li>Server Times: Winter: GMT+2 and Summer: GMT+3 (DST) (last Sunday of March and ends last Sunday of October).</li>
                    <li>All Pending Orders will be force closed during market breaks. In case any order is left pending, it will be automatically deleted on market close Friday.</li>
                    <li>The execution of new orders for crypto currency instruments is subject to company&#39;s risk management procedures. The opening of market and pending orders might face temporary rejections.</li>
                    <li>Commission charge of 1 USD per lot round turn is applied.</li>
                    <li>The availability for trading on CFDs on Cryptocurrencies is subjected to the client&#39;s appropriateness assessment status.</li>
                </ol>
            </div>
        </div>-->

    <!--<div class="row">
            <div class="col-md-12 col-sm-12 fo-14p col-xs-12 m-b-30 fotboxs">
                <h6>Calculating Cryptocurrencies Margin Requirements - Exampl</h6>

                <p>
                    Account base currency: USD<br />
                    Position: Open 1 lot BUY BTCUSD at 8,249.60<br />
                    1 Lot size: 1 Bitcoin<br />
                    Margin requirement: 20% of Notional Value
                </p>

                <p>
                    <strong>Notional value is:</strong> 1 * 1 * 8,249.60 = 8,249.60 USD<br />
                    <strong>Margin required is:</strong> 8,249.60 USD * 0.20 = 1,649.92 USD
                </p>
            </div>
        </div>-->


    <div class="clearfix"></div>
