	<div class="banner_sec">
		<img src="images/ECN_account.jpg" alt="ECN Pro Account">
	</div>
	<!---banner_sec-->

	<div class="main_contact">
		<div class="container">
			<div class="contact_heding comparison text-center">
				<h1>ECN PRO Account</h1>
				<p>ECN PRO is an electronic communication network that links different participants of the Forex market: investment funds,banks,individual
					forex traders, etc. To execute your order, the ECN PRO technology searches throught all orders placed by its participants
					in real time. once it finds an opposite order with rhe matching price and enough volume, your order is executed. There
					are no intermediaries or dealers involved in the execution process.
					<br>
					<br>The ECN PRO Account accommodates the experienced retail forex traders.A key feature is the ECN PRO Spread received which favors
					scalping strategies.There is a minimum trade size of 0.01 lot and the trade size increment remains flexible at 0.01.
					The ECN PRO Account uses the MetaTrader 4 platform.</p>
			</div>
			<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Account Details</h2>

<table>
  <tr style="background: #DB0100;">
    <th style="color: #fff;font-weight: bold;width: 50%;">ACCOUNT TYPE</th>
    <th style="color: #fff;font-weight: bold;width: 50%;">ECN PRO</th>
 
  </tr>
  <tr>
    <td>Minimum deposit</td>
    <td>$5,000 </td>
  
  </tr>
  <tr>
    <td>Spreads from pips</td>
    <td>0</td>
 
  </tr>
  <tr>
    <td>Commission	</td>
    <td>5$</td>
  
  </tr>
  <tr>
    <td>Stop Out Level</td>
    <td>30%</td>

  </tr>
  <tr>
    <td>Margin Call</td>
    <td>60%</td>

  </tr>
  <tr>
    <td>Execution Type</td>
    <td>Market</td>
 
 </tr>
  <tr>
    <td>Maximum Leverage	 </td>
    <td>1:200 </td>
 
  </tr>
  <tr>
    <td>Swap Free Accounts</td>
    <td>N/A</td>
 
 </tr>
  <tr>
    <td>Minimum Order Size in Lots</td>
    <td>0.1</td>
 
 </tr>
  <tr>
    <td>Maximum Open Orders:</td>
    <td>Unlimited</td>
 
 </tr>
  <tr>
    <td>Expert Advisor</td>
    <td><img style="width: 25px;" src="images/ticc.png"></td>
 
  </tr>
  <tr>
    <td>Scalping/Hedging</td>
    <td><img style="width: 25px;" src="images/ticc.png"></td>
 
 </tr>
  <tr>
    <td>Maximum Trade Volume</td>
    <td>100</td>
 
 </tr>
  <tr>
    <td>Bonus</td>
    <td><img style="width: 25px;" src="images/cros.png"></td>
 
  </tr>
  <tr>
    <td>Deposit Currencies</td>
    <td>USD</td>
 
 </tr>
  <tr>
    <td>Account Manager</td>
    <td><img style="width: 25px;" src="images/ticc.png"></td>
 
  </tr>
</table>

</body>

<!-- Mirrored from www.Global FX Miners.io/en/ecn-pro-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 May 2020 20:23:32 GMT -->
</html>


				</div>
			</div>
		</div>
	</div>
	<div class="spacer30"></div>
	<div class="live_links">
		<a target="_blank" href="trade/signup">Open Live Account</a>
		<span>or</span>
		<a target="_blank" href="trade/signup">Open Demo Account</a>
	</div>