
    <div class="col-md-12 calcbx">
        <div class="container">
            <h3>Economic Calendar</h3>
            <p>IdealFx provides an automatically updated, independent calendar featuring important economic events for active traders. Stay updated of significant events with instantaneous information and formulates your decision according to market volatility.
</p>
			<p style="font-weight: 400;">Use IdealFx Economic Calendar and view all major and minor economic events for today or for this week.</p>
        
    

<div class="col-lg-12">
            <div style="height: 36px;background-color: white; bottom: 0px;z-index: 999;width: 100%;">
            </div>
            <iframe src="https://www.mql5.com/en/economic-calendar/widget?mode=2" id="widgetPreview" style="border: 0;" width="100%" height="611px"></iframe>
        </div>
</div>
	</div>