
	
<div class="banner_sec"> <img src="images/unnamed-12.jpg" alt="Everyday Payout Commission"/>
</div>	<!---banner_sec-->

 
<div class="main_contact"> 
  <div class="container"> 
    <div class="contact_heding comparison"> <h1 class="text-center">Cash Out Your IB Commission Daily</h1> 
      <p>Xtreamforex is a pioneer ECN forex trading broker for individual or institutional traders, IB's and affiliates. As
					a ECN forex trading broker, we are always committed to provide best services and promotions for our clients. That's
					why this time we are introducing our new promotion for our IB's.
					<br /><br /> An Introducing Broker (IB) is a person or a company which refers clients to IdealFx. As long as these clients trade
					the IB receives commission from IdealFx. It is a wide spread model, which is mutually profitable for both broker
					and IB.
					<br /><br /> As a IB you can earn up to $25/Lot commissions for each traded lot by your referred clients and this time you can withdraw
					your daily earned commission at the end of the day. Every 24 hour you will be able to cash out your earned commission
					into your IB account.</p> 
      <p>&nbsp;</p> <h3 style="color: rgb(219, 1, 0);">How to Get Started as Introducing Broker?</h3> 
      <ul class="list_style">
        <li>To get started as a IB with IdealFx Open a Live Account first.</li> 
        <li>Send your necessary documents and verify your account.</li> 
        <li>Login to Your client are and select IB partnership option.</li> 
        <li>Contact our support for confirmation and verification.</li> 
        <li>Receive your referral link in your client area.</li> 
      </ul>
      <p>Referral link look like: http://www.IdealFx.com/?refid={your referral ID}</p> <h3 style="color: rgb(219, 1, 0);">Benefits of IdealFx Introducing Brokers:</h3> 
      <ul class="list_style">
        <li>You can earn up to $25/Lot commissions for each traded lot.</li> 
        <li>Full access of your commission statement.</li> 
        <li>Instant and automatic commission calculation.</li> 
        <li>You can add spread mark-up for extra commission.</li> 
        <li>Marketing Tools, banners, Marketing Content, Landing pages will be provided.</li> 
        <li>Personal partnership manager.</li> 
        <li>Best for Individuals, Companies, Money Managers, and Web Masters.</li> 
        <li>Continuous support in IT and Marketing.</li> 
        <li>Multilingual Support.</li> 
        <li>Withdraw your commission anytime you want.</li> 
      </ul><h3 style="color: rgb(219, 1, 0);">How do I withdraw my daily earned commission?</h3> 
      <p>As an IB you can withdraw your daily earned commission by contacting our support team through E-mail. Our support team
					will respond you immediately for additional procedure.</p> 
    </div> 
  </div> 
</div> 
<div class="live_links"> <a target="_blank" href="https://secure.idealfx.io/">Open Live Account</a> <span>or</span> <a target="_blank" href="https://secure.idealfx.io/">Open Demo Account</a> 
</div> 