
 <div class="banner_sec">
	<img src="images/xtream_account.jpg" />
</div>	<!---banner_sec-->
	 
<div class="main_contact"> 
  <div class="container"> 
    <div class="contact_heding comparison text-center edustyl"> 
      <p>Welcome to the Expert Global Miners Education Centre. Here at the Forex education centre our aim is to teach you in simple terms about the forex market. From understanding 
the underlying reason as to why the Forex market exists to basic strategies that are the foundations of understanding the dynamics of the Forex market.<br /><br />The education centre is essentially a Forex resource centre that will grow with time. Our intention is to create a library of resources for our clients to access, place 
presentations on key topics and essentially add value by providing the tools and knowledge our clients require to trade with confidence.<br /><br />We will also use the resource centre to update our clients on upcoming seminars and webinars and occasionally we will seek to get high profile and experienced participants
 in the Forex markets to offer us their insights through interviews and live question and answer sessions.</p> 
      <div class="panel panel-default m-b-5"> 
        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion-1" aria-expanded="false" class="accordion-toggle color-dark collapsed" href="#collapse-1"> <h4 class="panel-title">Introduction to Forex </h4> </a> 
        </div> 
        <div id="collapse-1" aria-expanded="false" style="height: 0px;" class="panel-collapse collapse"> 
          <div class="panel-body"> 
            <div class="row"> 
              <div class="col-md-12"> 
                <ul class="arrows bullets-ar">
                  <li><a href="What-is-Forex.html">What is Forex?</a></li> 
                  <li><a href="Learn-to-Trade-Forex.html">Learn how to Trade Forex</a></li> 
                  <li><a href="when-can-you-trade-forex.html">When can you Trade Forex</a></li> 
                </ul>
              </div> 
            </div> 
          </div> 
        </div> 
      </div> 
      <div class="panel panel-default m-b-5"> 
        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion-1" aria-expanded="true" class="accordion-toggle color-dark" href="#collapse-2"> <h4 class="panel-title">Understanding Forex Prices </h4> </a> 
        </div> 
        <div id="collapse-2" aria-expanded="true" class="panel-collapse collapse in"> 
          <div class="panel-body"> 
            <div class="row"> 
              <div class="col-md-12"> 
                <ul class="arrows bullets-ar">
                  <li><a href="Understanding-Forex-Pricing.html">The Spread</a></li> 
                  <li><a href="Understanding-Forex-Pricing.html">Pips</a></li> 
                </ul>
              </div> 
            </div> 
          </div> 
        </div> 
      </div> 
      <div class="panel panel-default m-b-5"> 
        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion-1" aria-expanded="false" class="accordion-toggle color-dark collapsed" href="#collapse-3"> <h4 class="panel-title">Understanding Currency Pairs </h4> </a> 
        </div> 
        <div id="collapse-3" aria-expanded="false" style="height: 0px;" class="panel-collapse collapse"> 
          <div class="panel-body"> 
            <div class="row"> 
              <div class="col-md-12"> 
                <ul class="arrows bullets-ar">
                  <li><a href="Understanding-Currency-Pairs.html">The Majors</a></li> 
                  <li><a href="Understanding-Currency-Pairs.html">Currency Pairs</a></li> 
                  <li><a href="Understanding-Currency-Pairs.html">The SWAP</a></li> 
                </ul>
              </div> 
            </div> 
          </div> 
        </div> 
      </div> 
      <div class="panel panel-default m-b-5"> 
        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion-1" aria-expanded="false" class="accordion-toggle color-dark collapsed" href="#collapse-4"> <h4 class="panel-title">Introduction to Margin </h4> </a> 
        </div> 
        <div id="collapse-4" aria-expanded="false" style="height: 0px;" class="panel-collapse collapse"> 
          <div class="panel-body"> 
            <div class="row"> 
              <div class="col-md-12"> 
                <ul class="arrows bullets-ar">
                  <li><a href="Introduction-to-Margin.html">What is FX Margin?</a></li> 
                  <li><a href="Introduction-to-Margin.html">Leverage</a></li> 
                  <li><a href="Introduction-to-Margin.html">Working Example of Margin</a></li> 
                  <li><a href="Introduction-to-Margin.html">Free Margin and Used Margin</a></li> 
                </ul>
              </div> 
            </div> 
          </div> 
        </div> 
      </div> 
      <div class="panel panel-default m-b-5"> 
        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion-1" aria-expanded="false" class="accordion-toggle color-dark collapsed" href="#collapse-5"> <h4 class="panel-title">Contract Sizes </h4> </a> 
        </div> 
        <div id="collapse-5" aria-expanded="false" style="height: 0px;" class="panel-collapse collapse"> 
          <div class="panel-body"> 
            <div class="row"> 
              <div class="col-md-12"> 
                <ul class="arrows bullets-ar">
                  <li><a href="Contract-Sizes.html">Understanding contract sizes</a></li> 
                </ul>
              </div> 
            </div> 
          </div> 
        </div> 
      </div> 
      <div class="panel panel-default m-b-5"> 
        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion-1" aria-expanded="false" class="accordion-toggle color-dark collapsed" href="#collapse-6"> <h4 class="panel-title">Majors and Currency Pairs Revisited </h4> </a> 
        </div> 
        <div id="collapse-6" aria-expanded="false" style="height: 0px;" class="panel-collapse collapse"> 
          <div class="panel-body"> 
            <div class="row"> 
              <div class="col-md-12"> 
                <ul class="arrows bullets-ar">
                  <li><a href="Majors-and-Currency-Pairs-Revisited.html">Currency Acronyms</a></li> 
                  <li><a href="Majors-and-Currency-Pairs-Revisited.html">Major Forex Currency Pairs</a></li> 
                </ul>
              </div> 
            </div> 
          </div> 
        </div> 
        <div></div> 
      </div> 
      <div class="panel panel-default m-b-5"> 
        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion-1" aria-expanded="false" class="accordion-toggle color-dark collapsed" href="#collapse-7"> <h4 class="panel-title">Understanding Risk Strategies </h4> </a> 
        </div> 
        <div id="collapse-7" aria-expanded="false" style="height: 0px;" class="panel-collapse collapse"> 
          <div class="panel-body"> 
            <div class="row"> 
              <div class="col-md-12"> 
                <ul class="arrows bullets-ar">
                  <li><a href="what-is-risk-management.html">What is Risk Management</a></li>
					<li><a href="currency-correlations-and-how-to-take-advantage-of-it.html">Currency Correlations</a></li>
					<li><a href="position-sizing-in-forex.html">Position Sizing in Forex</a></li>
					<li><a href="top-reasons-of-unsuccessful-forex-traders.html">Top Reasons of Unsuccessful Forex Traders</a></li>
                </ul>
              </div> 
            </div> 
          </div> 
        </div> 
      </div> 
      <div class="panel panel-default m-b-5"> 
        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion-1" aria-expanded="false" class="accordion-toggle color-dark collapsed" href="#collapse-8"> <h4 class="panel-title">Approaches to Trading the Market </h4> </a> 
        </div> 
        <div id="collapse-8" aria-expanded="false" style="height: 0px;" class="panel-collapse collapse"> 
          <div class="panel-body"> 
            <div class="row"> 
              <div class="col-md-12"> 
                <ul class="arrows bullets-ar">
                  <li><a href="Approaches-to-Trading-the-Market.html">Technical Analysis</a></li> 
                  <li><a href="Approaches-to-Trading-the-Market.html">Support and resistance</a></li> 
                  <li><a href="Approaches-to-Trading-the-Market.html">Moving averages</a></li> 
                  <li><a href="Approaches-to-Trading-the-Market.html">Fundamental Analysis</a></li> 
                </ul>
              </div> 
            </div> 
          </div> 
        </div> 
      </div> 
      <div class="panel panel-default m-b-5"> 
        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion-1" aria-expanded="false" class="accordion-toggle color-dark collapsed" href="#collapse-9"> <h4 class="panel-title">Basic Concepts and Additional Strategies </h4> </a> 
        </div> 
        <div id="collapse-9" aria-expanded="false" style="height: 0px;" class="panel-collapse collapse"> 
          <div class="panel-body"> 
            <div class="row"> 
              <div class="col-md-12"> 
                <ul class="arrows bullets-ar">
                  <li><a href="Some-Basic-Trading-Concepts-and-Additional-Strategies.html">Trading Breakouts in Forex</a></li> 
                  <li><a href="Some-Basic-Trading-Concepts-and-Additional-Strategies.html">Pivot Points</a></li> 
                  <li><a href="Some-Basic-Trading-Concepts-and-Additional-Strategies.html">Fibonacci</a></li> 
                  <li><a href="Some-Basic-Trading-Concepts-and-Additional-Strategies.html">Advice on using Trading Strategies</a></li> 
                </ul>
              </div> 
            </div> 
          </div> 
        </div> 
      </div> <h3 class="text-left">Expert Global Miners e-Course</h3> 
      <p class="m-b-5">Expert Global Miners places great emphasis on Forex Education. So do you want to increase your Trading Knowledge? Then just open a Expert Global Miners Demo or Live Account and use the
 login details to login to the Trader's Room.<br /><br />After you login, simply click on the 'EDUCATION' tab to view our Training course.<br /><br />In this course you will learn:</p> 
      <div class="col-md-12 text-left"> 
        <div class="col-md-4 col-sm-4 col-xs-12 p-l-10"> 
          <ul class="arrows p-l-15 bullets-ar">
            <li>The basics of Forex Theory  </li> 
            <li>Reading and Interpreting Charts</li> 
            <li>The Right Trading Psychology</li> 
          </ul>
        </div> 
        <div class="col-md-4 col-sm-4 col-xs-12 p-l-10"> 
          <ul class="arrows p-l-15 bullets-ar">
            <li>The Basics of Forex Trading</li> 
            <li>Trading Strategies</li> 
            <li>Technical Analysis</li> 
          </ul>
        </div> 
      </div> 
    </div> 
    <div class="margin_space"></div> 
  </div> 
</div> 
<div class="live_links"> <a target="_blank" href="trade/signup">Open Live Account</a> <span>or</span> <a target="_blank" href="trade/signup">Open Demo Account</a> 
	</div>