
<div style="padding: 0px;" class="col-md-12"> <img class="responsive" src="images/MyImages/pro09.png" alt="Forex Trading Products"/>
</div> 
<div class="col-md-12 text-center"> 
  <div class="container"> <h3 class="prd-head">FOREX TRADING <span>PRODUCTS</span></h3> 
    <p class="prd-para">Choose from a Wide Range of Trading Products</p> <hr />
  </div> 
</div> 
<div style="margin-bottom: 50px;"></div> 
<div class="col-md-12"> 
  <div class="container"> 
    <div class="row"> 
      <div class="col-md-6"> 
        <div class="prd prd-bx1"> 
          <div class="row"> 
            <div class="col-md-7 col-sm-6"> 
              <label class="prdbx-lbl">FOREX</label> 
              <p class="prdbx-para">                                    Trade More than 60 Major, Minor 
                                    and Exotic currency pairs from 0.0 pips.
                                </p> 
              <div class="col-md-12"> <a class="prdbx-btn" href="forex.html">Know More</a> 
              </div> 
            </div> 
            <div class="col-md-5">&nbsp;
            </div> 
          </div> 
        </div> 
      </div> 
      <div class="col-md-6"> 
        <div class="prd prd-bx2"> 
          <div class="row"> 
            <div class="col-md-7 col-sm-6"> 
              <label class="prdbx-lbl">CRYPTOCURRENCY</label> 
              <p class="prdbx-para">                                    Trade the world's most traded digital<br />                                    currencies: Bitcoin,
                                     Litecoin, Ethereum and many more under one Forex Trading Platform.
                                </p> 
              <div class="col-md-12"> <a class="prdbx-btn" href="cryptocurrency.html">Know More</a> 
              </div> 
            </div> 
            <div class="col-md-5">&nbsp;
            </div> 
          </div> 
        </div> 
      </div> 
    </div> 
    <div style="margin-bottom: 40px;" class="col-md-12">&nbsp;
    </div> 
    <div class="row"> 
      <div class="col-md-6"> 
        <div class="prd prd-bx3"> 
          <div class="row"> 
            <div class="col-md-7 col-sm-6"> 
              <label class="prdbx-lbl">INDICES</label> 
              <p class="prdbx-para">                                    Trade Indices with excellent trading conditions
                                     with competitive spreads.
                                </p> 
              <div class="col-md-12"> <a class="prdbx-btn" href="indices.html">Know More</a> 
              </div> 
            </div> 
            <div class="col-md-5">&nbsp;
            </div> 
          </div> 
        </div> 
      </div> 
      <div class="col-md-6"> 
        <div class="prd prd-bx4"> 
          <div class="row"> 
            <div class="col-md-7 col-sm-6"> 
              <label class="prdbx-lbl">STOCKS</label> 
              <p class="prdbx-para">                                    Trade 60+ Stocks of some of the<br />                                    largest and most 
                                    famous companies of US, UK and EU Companies.
                                </p> 
              <div class="col-md-12"> <a class="prdbx-btn" href="Stocks.html">Know More</a> 
              </div> 
            </div> 
            <div class="col-md-5">&nbsp;
            </div> 
          </div> 
        </div> 
      </div> 
    </div> 
  </div> 
</div> 
<div style="margin-bottom: 30px;"></div> 
<div class="clearfix"></div> 

