<div class="banner_sec"> <img src="images/Final.png" alt="Forex Jobs" />
</div>	<!---banner_sec-->
	
<div class="main_contact"> 
  <div class="container"> 
    <div class="contact_heding comparison"> <h1 class="text-center"> <span style="color: rgb(255, 0, 0);"> Expert Global Miners </span>Careers</h1> 
      <p class="text-center"> <b>Join the Expert Global Miners Team!
						<span style="color: rgb(255, 0, 0);">We are Hiring!</span> </b> </p> 
      <p>At Expert Global Miners we provide you with the environment and conditions that you need to develop in your area of expertise,
					whether you are a young individual at the beginning of your career, or an experienced professional seeking to move forward.
					Our mission is to enable you to reach your professional aspirations by giving you the motivation and inspiration to
					do so.
					<br /><br /> As a company that places itself at the forefront of progress, we have created an ultra-modern, hi-tech environment
					for our staff, consisting of the most up to date equipment and cutting edge technology. We make sure that we have the
					most up to date licenses of your preferred software in order for you to be satisfied with what you are working with and
					efficient at what you do. It is extremely important for us to know that our employees are kept happy with and engaged
					in their work.
					<br /><br /> Our team leaders are always there to guide and mentor each member of their team and to inspire them to reach their
					full potential. We value and respect our employees and view them as our most important asset, our present and our future.
					Each employee's contribution is invaluable because at Expert Global Miners we believe that collective decision making is the
					key to success. Our company stands for trust, respect, integrity, innovation and progress.
					<br /><br /> If you think you could work for us, please send your CV and cover letter to our HR Department at
					<a href="mailto:hr@Expert Global Miners.io"> <strong>hr@Expert Global Miners.io</strong> </a> </p> <b>Current Job Openings</b> 
      <ul class="list_style">
        <li>Business Development Officers</li> 
        <li>Account Manager</li> 
        <li>Head Of Sales</li> 
        <li>Retention Officers-German / Polish / Italian / Czech Slovak / Indonesia / Malaya </li> 
        <ul class="list_style"><br /><br /><h4 class="pull-left"> <span style="color: rgb(255, 0, 0);">We are hiring a team for Expert Global Miners in Indonesia, Malaysia, Pakistan, Sri Lanka and Singapore</span> </h4> <br /><br />
          <p>We need Regional Manager, Sales and Customer Support Team. Who can Develop &amp; maintain strong relationships with clients
							&amp; potential business partners.The company offers a very comfortable, high tech work environment, very attractive basic
							salary, performance based bonuses.</p> <b>Your responsibilities:</b> 
          <ul class="list_style" style="padding:0px">
            <li>Promote the Company's products and services mainly by phone, email and social networks</li> 
            <li>Train the clients how to use company's trading systems and products</li> 
            <li>Develop strong relationships with prospective clients and partners</li> 
            <li>Manage the existing portfolio of clients with the focus of maximizing customer size and trading volume, whereby you
								always work professionally, ethically and customer oriented.</li> 
            <li>Actively following up on queries and providing feedback to customers ensuring that the clients receive the best level
								of service</li> 
            <li>Keep up-to-date with the financial markets in a daily basis</li> 
            <li>Follow the guidelines set by the compliance department with regards to processing client documentation according to
								Cysec requirements.</li> 
            <li>Ability to meet monthly targets set by the company</li> 
          </ul><br /><br /><b>Qualifications required:</b> 
          <ul class="list_style" style="padding:0px">
            <li>Business fluency in one of the following languages: , Spanish, Italian, Arabic, Polish, Portuguese Russian, Indonesian,
								Malay, Vietnamese, Chinese, Korean, Indian</li> 
            <li>Previous experience in sales within the financial sector/ banking/ FX will be considered an advantage</li> 
            <li>Excellent Communication skills (over the phone, one on one and in writing)</li> 
            <li>Excellent Telesales skills</li> 
            <li>Strong negotiation skills and ability to close deals</li> 
            <li>Excellent oral and presentational skills</li> 
            <li>Excellent networking skills</li> 
            <li>Ability to work on own initiative, expand and generate business</li> 
            <li>Ability to work under pressure</li> 
            <li>Basic knowledge of technical and fundamental analysis</li> 
          </ul><b>This role is paying a highly competitve salary + commission</b> 
        </ul>
      </ul>
    </div> 
  </div> 
</div> 
<div class="live_links"> <a target="_blank" href="trade/signup">Open Live Account</a> <span>or</span> <a target="_blank" href="trade/signup">Open Demo Account</a> 
</div> 