	
    <div class="banner_sec">
        <img style="width: 100%; height: auto;" src="images/promotion03.png" alt="Forex Promotions"/>
    </div>
    <!---banner_sec-->

    <div class="main_contact" style="background-color: #fff;">
        <div class="container">
            <div class="col-md-12">
                <div class="row" style="margin-top: 30px;">
                    <h1 style="color: #db0100; font-weight: 400; text-align: center; width: 100%;">PROMOTIONS - TRUSTED FOREX BROKER XTREAMFOREX </h1>
                    <hr style="border-bottom: solid 1px #dcdddf; width: 100%;" />
                    <br />
                    <p style="color: #000000; font-size: 18px; font-weight: 400; text-align: center; width: 100%;">Xtream Forex rewards you for your trading skills and offers you the opportunity to earn more. Work with Best Forex Broker and get latest Offers around the world. Our Forex promotions help you increase your profit without large investments. So create an account and get the chance to make more money with Expert Global Miners Exclusive Promotions.</p>
                </div>
            </div>
            &nbsp;

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">

                        <div class="col-md-12">
                            <div class="row zoom" style="border-radius: 4px; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);">
                                <div class="col-md-6">
                                    <div class="row">
                                        <img style="width: 100%; height: auto;" src="images/creditbonus01.png" alt="100% Credit Bonus">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div style="padding: 20px 0px 0px 0px;">
                                        <h2 style="color: #db0100; font-weight: 600; text-align: center; font-size: 22px;">100% CREDIT BONUS</h2>
                                        <hr style="border-bottom: solid thin #fff;" />
                                        <ul class="terms-ol" style="padding-left: 20px">
                                            <li style="color: #000000; font-size: 17px; font-weight: 400;">Increased leverage trading.</li>
                                            <li style="color: #000000; font-size: 17px; font-weight: 400;">Receive upto $20,000 per account.</li>
                                        </ul>
                                        <hr style="border-bottom: solid thin #fff;" />
                                        <div class="col-md-12 text-center">
                                            <a href="Forex-Credit-Bonus-100.html" style="box-shadow: 1px 2px 12px rgba(171, 26, 44, 0.46); cursor: pointer; border: 1px solid #db0100; border-radius: 4px; padding: 8px; background-color: #db0100; font-size: 16px; color: #ffffff;">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="row zoom" style="border-radius: 4px; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);">
                                <div class="col-md-6">
                                    <div class="row">
                                        <img style="width: 100%; height: auto;" src="images/Tradablebonus02.png" alt="30% Tradable Bonus">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div style="padding: 20px 0px 0px 0px;">
                                        <h2 style="color: #db0100; font-weight: 600; text-align: center; font-size: 22px;">30% Tradable Bonus</h2>
                                        <hr style="border-bottom: solid thin #fff;" />
                                        <ul class="terms-ol" style="padding-left: 20px">
                                            <li style="color: #000000; font-size: 17px; font-weight: 400;">Upto 30% Tradable Bonus</li>
                                            <li style="color: #000000; font-size: 17px; font-weight: 400;">Segregated Client Funds.</li>
                                        </ul>
                                        <hr style="border-bottom: solid thin #fff;" />
                                        <div class="col-md-12 text-center">
                                            <a href="tradable_bonuses30" style="box-shadow: 1px 2px 12px rgba(171, 26, 44, 0.46); cursor: pointer; border: 1px solid #db0100; border-radius: 4px; padding: 8px; background-color: #db0100; font-size: 16px; color: #ffffff;">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                   <!-- <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="row zoom" style="border-radius: 4px; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);">
                                <div class="col-md-6">
                                    <div class="row">
                                        <img style="width: 100%; height: auto;" src="images/tradecard3.png" alt="IB Contest 2019">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div style="padding: 20px 0px 0px 0px;">
                                        <h2 style="color: #db0100; font-weight: 600; text-align: center; font-size: 22px;">Global IB Contest 2019</h2>
                                        <hr style="border-bottom: solid thin #fff;" />
                                        <ul class="terms-ol" style="padding-left: 20px">
                                            <li style="color: #000000; font-size: 17px; font-weight: 400;">Partners Annual Competition.</li>
                                            <li style="color: #000000; font-size: 17px; font-weight: 400;">Register now and win cash prizes.</li>
                                        </ul>
                                        <hr style="border-bottom: solid thin #fff;" />
                                        <div class="col-md-12 text-center">
                                            <a href="https://xtreamforex.com/ib-contest.html" style="box-shadow: 1px 2px 12px rgba(171, 26, 44, 0.46); cursor: pointer; border: 1px solid #db0100; border-radius: 4px; padding: 8px; background-color: #db0100; font-size: 16px; color: #ffffff;">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
					<div class="col-md-3"></div>
					
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="row zoom" style="border-radius: 4px; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);">
                               <div class="col-md-6">
                                    <div class="row">
                                        <img style="width: 100%; height: auto;" src="images/payout001.png" alt="Everyday Payout">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div style="padding: 20px 0px 0px 0px;">
                                        <h2 style="color: #db0100; font-weight: 600; text-align: center; font-size: 22px;">EVERYDAY PAYOUT</h2>
                                        <hr style="border-bottom: solid thin #fff;" />
                                        <ul class="terms-ol" style="padding-left: 20px">
                                            <li style="color: #000000; font-size: 17px; font-weight: 400;">Earn up to 25$/Per Lot commissions</li>
                                            <li style="color: #000000; font-size: 17px; font-weight: 400;">Personal partnership manager.</li>
                                        </ul>
                                        <hr style="border-bottom: solid thin #fff;" />
                                        <div class="col-md-12 text-center">
                                            <a href="everyday-payout.html" style="box-shadow: 1px 2px 12px rgba(171, 26, 44, 0.46); cursor: pointer; border: 1px solid #db0100; border-radius: 4px; padding: 8px; background-color: #db0100; font-size: 16px; color: #ffffff;">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="col-md-3"></div>
                </div>
                <br />
                <div class="row" style="display:none;">
                    <div class="offset-3 col-md-6">
                        <div class="col-md-12">
                            <div class="row zoom" style="border-radius: 4px; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);">
                                                                
                                <div class="col-md-6">
                                    <div class="row">
                                        <img style="width: 100%; height: auto;" src="images/goldcard4.png">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div style="padding: 20px 0px 0px 0px;">
                                        <h2 style="color: #db0100; font-weight: 600; text-align: center; font-size: 22px;">TRADE GOLD ONLINE</h2>
                                        <hr style="border-bottom: solid thin #fff;" />
                                        <ul class="terms-ol" style="padding-left: 20px">
                                            <li style="color: #000000; font-size: 17px; font-weight: 400;">Earn Gold Profit today!  </li>
                                            <li style="color: #000000; font-size: 17px; font-weight: 400;">Trade XAUUSD with Expert Global Miners low spreads.</li>
                                        </ul>
                                        <hr style="border-bottom: solid thin #fff;" />
                                        <div class="col-md-12 text-center">
                                            <a href="trade_gold.html" style="box-shadow: 1px 2px 12px rgba(171, 26, 44, 0.46); cursor: pointer; border: 1px solid #db0100; border-radius: 4px; padding: 8px; background-color: #db0100; font-size: 16px; color: #ffffff;">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    &nbsp;

    <div class="col-md-12 text-center mhide" style="z-index: -99;">
        <img style="height: auto;" src="images/freecity2.png" />
    </div>

    <div class="live_links">
        <a target="_blank" href="trade/signup">Member Login</a> <span>or</span> <a target="_blank" href="trade/signup">Open Live Account</a>
    </div>

<style>
    .terms-ol li {
        list-style: disc;
    }

    .zoom:hover {
        transform: scale(1.05);
    }
</style>
