	
    <div class="banner_sec">
        <img style="width:100%; height:auto;" src="images/ibbanr1.png" alt="2019 IB Contest"/>
    </div><!---banner_sec-->
	
    <section style="background: #1a1a1a;">
        <br>
        <div class="container">
            <div class="col-md-12">
                &nbsp;
                <h1 class="text-center">
                    <span style="color: #db0100;font-weight: 400;">
                        IdealFx
                        <label style="color:white">Global IB Contest 2019</label>
                        <hr style="color: #db0100;border-bottom: solid 2px;" />
                    </span>
                </h1>
            </div>
            <div class="col-md-12">
                <div class="">
                    <p style="font-size: 17px;margin-bottom: 20px;margin-top: 20px; color:white">The IdealFx Global IB Contest 2019 is a tiered promotion that is offered exclusively by IdealFx to its Affiliates under the following Terms and Conditions.</p>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <h2 style="color: #000000;font-weight: 400;margin-top: 5px;margin-bottom: 25px; color:white">Introduction</h2>
                        <hr />
                        <p style="font-size: 17px;margin-bottom: 20px;margin-top: 20px; color:white">
                            IdealFx starts an annual competition for all our partners. Become a IdealFx Partner and grab the chance to achieve your dreams! To participate in the IdealFx Global IB Contest 2019, you need to register an account. If you already have a partner account, enter your personal data in the registration form.
                        </p>
                        <p style="font-size: 17px;margin-bottom: 20px;margin-top: 20px; color:white">
                            The first 3 partners who have reached the target according to the contest results will be considered as the winners of the contest and get cash prizes as mentioned below.
                            Good Luck to all participants!
                        </p>
                        <p style="font-size: 20px;margin-bottom: 20px;margin-top: 20px;font-weight: 400;text-align: justify; color:white">
                            IdealFx Global IB Contest 2019 Prizes, Trading Volume Target and Deposit Targets are as follows:
                        </p>
                    </div>

                    <div class="col-md-5">
                        <button class="ibcontestclick" onclick="window.location='https://secure.idealfx.io/'"></button>
                        <img style="width:100%; height:auto!important; margin-top: 20px;" src="images/ib-ct1.png" />
                    </div>
                </div>
            </div>
            <br />
            <br />
        </div>
    </section>

    <section style="padding: 30px 0; background-color: #1a1a1a;">
        <div class="container">
            <div class="col-md-12">
                <img style="height:auto;width:100%;" src="images/ibcontest001.png" />
            </div>
        </div>
    </section>

    <section style="background: #1a1a1a;">
        <div class="container">
            <br />
            <br />
            <div class="col-md-12">
                <h1 class="text-center">
                    <span style="color: #db0100;font-weight: 400;">
                        Registration and
                        <label style="color:white">Trading Period</label>
                        <hr style="color: #db0100;border-bottom: solid 2px;" />
                    </span>
                </h1>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="Ib">
                            <li>The promotion runs from January 01, 2019 until December 31, 2019.</li>
                            <li>The Affiliate can register to participate in the promotion via his IdealFx client area, Partners section.</li>
                            <li>Participants can enter the IdealFx Global IB Contest 2019 only once.</li>
                            <li>Only positions opened by Clients assigned under the Affiliate after the Affiliate has registered for the Global IB Contest and closed before December 31, 2019 at 23:59 Server time (GMT+2) will be counted towards volume target calculation.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="live_links">
        <a target="_blank" href="ib-contest2019.pdf">Terms &amp; Conditions </a>
    </div>

<style>
    .Ib li {
        margin-bottom: 10px;
        list-style: disc;
        font-size: 17px;
        color: white;
        font-weight: lighter;
    }

    .card-body {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
    }

    .card {
        margin-top: 150px;
    }

    .termspop {
        border: solid thin #db0100;
        background-color: #db0100;
        padding: 10px 17px 10px 17px;
        border-radius: 4px;
        font-size: 17px;
        color: #fff !important;
    }

        .termspop:hover {
            border: solid thin #a40100;
            background-color: #a40100;
            padding: 10px 17px 10px 17px;
            border-radius: 4px;
            font-size: 17px;
            color: #fff !important;
        }

    .head1 {
        border: solid thin #808080;
        background-color: #808080;
        border-radius: 4px;
        font-size: 17px;
        color: #fff;
    }

    .full-size-popup {
        background: rgba(128, 128, 128, 0.46);
        width: 100%;
        height: 100%;
        overflow-y: auto;
        z-index: 1003;
        position: fixed;
        top: 0;
        left: 0;
        display: none;
    }

    .ibcontestclick {
        width: 190px;
        height: 40px;
        position: absolute;
        bottom: 36px;
        left: 30px;
        z-index: 999;
        cursor: pointer;
        background-color: transparent;
    }

    @media screen and (max-width: 768px) {
        .ibcontestclick {
            width: 133px;
            height: 31px;
            position: absolute;
            bottom: 14px;
            left: 26px;
            z-index: 999;
            cursor: pointer;
            background-color: transparent;
        }
    }
</style>

