
    <div class="col-md-12" style="padding: 0px;">
        <img class="responsive" src="images/MyImages/xtreambnr-lg.png" />
    </div>

    <div class="col-md-12" style="padding-top:30px;">
        <div class="container">
            <h3 class="lg-head">Legal Documents</h3>
            <p class="lg-para">
                Expert Global Miners provides legal documentation for clients to review before trading Forex, CFDs or any other financial product available.
                Please ensure to read all legal documentation with Expert Global Miners.
            </p>
			<hr>
        </div>
    </div>

    <div class="col-md-12 docbx">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="doclist" style="padding:0px">
                        <li>
                            <a href="Account%20Opening%20Terms%20and%20Conditions.pdf" target="_blank">Client Agreement</a>
                        </li>
                        <li>
                            <a href="terms-and-conditions.html" target="_blank">Terms and Conditions</a>
                        </li>
                        <li>
                            <a href="risk-disclosure-statement.html" target="_blank">Risk Disclosure Statement</a>
                        </li>
                        <li>
                            <a href="privacy-policy.html" target="_blank">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="General%20Risk%20Disclosure.pdf" target="_blank">General Risk Disclosure</a>
                        </li>
                        <li>
                            <a href="Anti-Money%20Laundering%20Statement.pdf" target="_blank">Anti Money Laundering Statement</a>
                        </li>
                        <li>
                            <a href="Trading%20and%20Execution%20Risk.pdf" target="_blank">Trading and Execution Risk</a>
                        </li>
                        <li>
                            <a href="Complaint%20Handling%20Procedure.pdf" target="_blank">Complaint Handling Procedure</a>
                        </li>
                        <li>
                            <a href="Conflict%20of%20Interest%20Policy.pdf" target="_blank">Conflict of Interest Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="doclist" style="padding:0px">
                        <li>
                            <a href="Risk%20Desclaimer%20Policy.pdf" target="_blank">Risk Disclaimer Policy</a>
                        </li>
                        <li>
                            <a href="Risks%20Associated%20with%20Transactions%20in%20Derivative%20Financial%20Instruments%20(CFDS).pdf" target="_blank">Risks Associated with Transactions in CFDS</a>
                        </li>
                        <li>
                            <a href="ib-contest2019.pdf" target="_blank">T&C of Global IB Contest 2019</a>
                        </li>
                        <li>
                            <a href="Terms%20and%20Conditions%20of%20Credit%20Bonus.pdf" target="_blank">Terms and Conditions of Credit Bonus</a>
                        </li>
                        <li>
                            <a href="Terms%20of%20Business.pdf" target="_blank">Terms of Business</a>
                        </li>
                        <li>
                            <a href="Terms%20of%20Business%20Glossary.pdf" target="_blank">Terms of Business Glossary</a>
                        </li>
                        <li>
                            <a href="TermsandConditions30TradableBonus.pdf" target="_blank">T&C of 30% Tradable Bonus</a>
                        </li>
						<li>
                            <a href="Expert Global Miners%20Copy%20Agreement.html" target="_blank">Expert Global Miners Copy Trading Agreement</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>


    <div class="clearfix"></div>

