	
<div class="banner_sec"> <img src="images/android_trader.jpg" alt="Android Trader"/>
</div>	<!---banner_sec-->

<div class="main_contact"> 
  <div class="container"> 
    <div class="contact_heding comparison text-center"> <h1>android trader</h1> 
      <p>Android Trader is an award-winning Operating system for Android-based mobile devices used by millions of people worldwide.
					<br /><br /> Expert Global Miners provides the technology so that clients can monitor the market and trade directly from their Android-based
					Smartphone
					<br /><br /> The Android Trader solution enable traders to take advantage of multiple advanced features that make Forex trading
					on the go fast, straightforward and secure.</p> 
    </div> 
    <ul class="list_style">
      <li>Unique technical analysis and charting tools.</li> 
      <li>Full graphical visualisation of charts.</li> 
      <li>Trade history reports.</li> 
      <li>Detailed search function.</li> 
    </ul>
	  <div class="col-md-12">
    <a target="_blank" class="red_button" href="https://play.google.com/store/apps/details?id=net.metaquotes.metatrader4&amp;">Download</a>
		</div>
  </div> 
</div> 
<div class="live_links"> <a target="_blank" href="trade/signup">Open Live Account</a> <span>or</span> <a target="_blank" href="trade/signup">Open Demo Account</a> 
</div> 