
	<div class="banner_sec"> <img src="images/desktop_trader.jpg" alt="Desktop Trader" />
</div>	<!---banner_sec-->
	 
<div class="main_contact"> 
  <div class="container"> 
    <div class="contact_heding comparison text-center"> <h1>desktop trader</h1> <span class="red_span">Expert Global Miners offers the robust Metatrader (MT4) forex trading platform. </span> 
      <p>Desktop Trader is an award-winning Operating system for desktop based devices used by millions of people worldwide.
					<br /><br /> Expert Global Miners provides the technology so that clients can monitor the market and trade directly from their Desktop.
					<br /><br /> The Desktop solution enable traders to take advantage of multiple advanced features that make Forex trading on the go fast, straightforward and secure.
				</p> 
    </div> 
    <ul class="list_style">
                <li>Unique technical analysis and charting tools.</li>
                <li>Full graphical visualisation of charts. </li>
                <li>Trade history reports.</li>
                <li>Detailed search function.</li>
            </ul>
            <div class="col-md-12">
                <a target="_blank" class="red_button" href="https://download.mql5.com/cdn/web/10040/mt4/grandinvestingltd4setup.exe">Download</a>
            </div>
  </div> 
</div> 
<div class="live_links"> <a target="_blank" href="trade/signup">Open Live Account</a> <span>or</span> <a target="_blank" href="trade/signup">Open Demo Account</a> 
</div> 
