<div class="banner_sec"> <img src="images/ipad_trader.jpg" alt="IPad Trading Platform"/>
</div>	<!---banner_sec-->
 
<div class="main_contact"> 
  <div class="container"> 
    <div class="contact_heding comparison text-center"> <h1>Ipad Trader</h1> 
      <p>Use the innovative iPad device to fully trade on the MT4. Connect directly to your live account and trade with your fingers.
					Make full use of touch trading!
					<br /><br /> The iPad Trader solutions use many of the advanced features of the iPad, such as the landscape-to-portrait view changer
					(a simple rotation of the iPad).
					<br /><br /> Download the application and start trading straight away with this advanced and highly customisable trading platform,
					specifically designed to meet the requirements of traders who need the flexibility of trading on the go.</p> 
    </div> 
    <ul class="list_style">
      <li>Access to trading history</li> 
      <li>Financial news and internal mail</li> 
      <li>Daily Economic Calendar at your fingertips</li> 
      <li>Easy-to-manage favourites section.</li> 
      <li>Tailor My Watchlist</li> 
      <li>Unique technical analysis and charting tools</li> 
    </ul>
	  <div class="col-md-12">
   <a target="_blank" class="red_button" href="https://itunes.apple.com/us/app/metatrader-4/id496212596?server=GrandInvesting-Demo,GrandInvesting-Live">Download</a> 
		</div>
  </div> 
</div> 
<div class="live_links"> <a target="_blank" href="trade/signup">Open Live Account</a> <span>or</span> <a target="_blank" href="trade/signup">Open Demo Account</a> 
</div> 