
	<div class="banner_sec"> <img src="images/payment_method.jpg" alt="Payment Methods" />
</div>	<!---banner_sec-->

<div class="main_contact"> 
  <div class="container"> 
    <div class="contact_heding comparison text-center"> <h1>Payment Methods</h1> 
      <p class="text-center">Funding your account by using our Payment Methods at Expert Global Miners is fast, reliable and easy!
					<br /><br /> Expert Global Miners has developed a custom made payment methods interface in member area to make account funding and payments
					simple and hassle-free using our pioneering sample portal, a single interface for all of your needs.
					<br /><br /> Payment and funding authorization are fully automatic and the Expert Global Miners portal allows deposits and withdrawals using
					a simple, easy-to-use single interface.
					<br /><br /> Expert Global Miners offers its clients a variety of local and international payment options to choose from. Choose the payment
					option that most suits you!</p> 
      <p class="text-center">Methods available to fund your account at Expert Global Miners:</p> <b class="rwd_color">NO FEES CHARGED FOR ALL PAYMENT METHODS BY Expert Global Miners ! WE ALWAYS DEPOSIT THE AMOUNT SENT!</b> 
      <div class="table_box_scroll scroll_box_4"> 
        <div class="table_box payment_method"> 
          <div class="box box1 text-center"> <h3>Deposit Method</h3> 
            <ul>
              <li> <a target="_blank" href="client/index.html"> <img src="images/img/visa-Hover.png" alt="Visa" /></a> </li> 
              <li> <a target="_blank" href="client/index.html"> <img src="images/img/btc.png" alt="Bitcoin" /></a> </li> 
              <li> <a target="_blank" href="client/index.html"> <img src="images/neteller.png" alt="Neteller" /></a> </li> 
              <li> <a target="_blank" href="client/index.html"> <img src="images/skrill.html" alt="Skrill" /></a> </li> 
              <li> <a target="_blank" href="client/index.html"> <img src="images/union_pay-Hover.png" alt="Union Pay Holder" /></a> </li> 
              <li> <a href="client/index.html"> <img src="images/wire_transfer-Hover.png" alt="Wire Transfer" /></a> </li> 
            </ul>
          </div> 
          <div class="box box2 text-center"> <h3>Min. Deposit(USD)</h3> 
            <ul>
              <li>10</li> 
              <li>100</li> 
              <li>5</li> 
              <li>5</li> 
              <li>5</li> 
              <li>500</li> 
            </ul>
          </div> 
          <div class="box box2 text-center"> <h3>MAX. Deposit(USD)</h3> 
            <ul>
              <li>10,000</li> 
              <li>10,000</li> 
              <li>50,000</li> 
              <li>10,000</li> 
              <li>8,000</li> 
              <li>Unlimited</li> 
            </ul>
          </div> 
          <div class="box box2 text-center"> <h3>Deposit Time</h3> 
            <ul>
              <li>Up to 10 minutes</li> 
              <li>Up to 10 minutes</li> 
              <li>Instant to Wallet</li> 
              <li>Instant to Wallet</li> 
              <li>Instant to Wallet</li> 
              <li>between 2-7 working days.*</li> 
            </ul>
          </div> 
        </div> 
      </div> 
      <div class="spacer30"></div> 
    </div> 
  </div> 
</div> 
<div class="live_links"> <a target="_blank" href="trade/index.php">Open Live Account</a> <span>or</span> <a target="_blank" href="trade/signup">Open Demo Account</a> 
</div> 