
    <div class="col-md-12">
        <img class="responsive" src="images/MyImages/phlbnr01.png" />
    </div>
	<div class="container rankingbtn" style="left:21%">
</div>

    <div class="m01"></div>

   <div class="">
        <div class="container">
            <div class="DmTitle">
                <h2>Xtream Forex DEMO <span>COMPETITION 2019</span> POOL PRIZE <span>$2,250</span></h2>
            </div>
            <hr />
            <div class="phl">
                <p>Join and take a dive into the exciting world of Forex trading competition with IdealFx! Here we offer forex trading contest for demo accounts once in a year. You can join this contest for free. Forex Demo Trading competitions are the best way for beginners to gain experience in Forex trading and to try out and improve your trading strategies in a competitive environment.</p>

                <div align="center">
<div class="col-md-12">
    <a class="" href="https://secure.idealfx.io/PhilippinesContestRanking" style="background-color: #a50100;
    color: #fff;
    padding: 8px 20px;
    border: none;
    box-shadow: 1px 1px 5px 0px rgba(210, 209, 209,0.7);
    font-size: 18px;
    border-radius: 3px;">Demo Contest Live Ranking</a>
</div>
					<div class="col-md-12" style="margin: 20px 0px 0px;">
	<a class="" href="Philippines%20Demo%20Contest%20Terms%20and%20Conditions.pdf" target="_blank" style="color: #af0100;font-size: 20px;font-weight: 400;"> View T&amp;C</a>
					</div>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="margin-top: 41px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="trdhead">
                        <h2>Boost Your Trading Potential with Xtream Forex Contest offerings</h2>
                    </div>

                    <div class="trdcnt">
                        <p>IdealFx demo contest provide traders a chance to get real money without investing your own funds! Before you start real trading take your first step in this exciting opportunity, make little real cash and test your skills.</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <img class="responsive" src="images/MyImages/phlbnr02.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="m01"></div>

    <div class="col-md-12">
        <div class="container">

            <div class="DmTitle text-center">
                <h2><span>Prize Details:</span> Top three contestants who will make highest profit in the demo accounts will be eligible for cash prize.</h2>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-6">
                    <img class="responsive" src="images/MyImages/phlbnr03.png" />
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div style="padding: 15px 0px">
                                <div class="demobox">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img class="responsive" src="images/MyImages/cup01.png" />
                                        </div>
                                        <div class="col-md-8">
                                            <h2 class="demoprice-h2">1st Prize</h2>
                                            <hr />
                                            <label class="demoprice-lab">$1,000</label>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div style="padding: 15px 0px">
                                <div class="demobox">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img class="responsive" src="images/MyImages/cup01.png" />
                                        </div>
                                        <div class="col-md-8">
                                            <h2 class="demoprice-h2">2nd Prize</h2>
                                            <hr />
                                            <label class="demoprice-lab">$750</label>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div style="padding: 15px 0px">
                                <div class="demobox">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img class="responsive" src="images/MyImages/cup01.png" />
                                        </div>
                                        <div class="col-md-8">
                                            <h2 class="demoprice-h2">3rd Prize</h2>
                                            <hr />
                                            <label class="demoprice-lab">$500</label>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="phl-box">
                    <div class="row">
                        <div class="col-md-4">
                            <h2 class="phlh2">Registration Period</h2>
                            <hr />
                            <div class="phl02">
                                <p>19th August 2019 to 27th September 2019</p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <h2 class="phlh2">Trading Period</h2>
                            <hr />
                            <div class="phl02">
                                <p>30th September 2019 to 1st November 2019</p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <h2 class="phlh2">Winner Announcement</h2>
                            <hr />
                            <div class="phl02">
                                <p>7th November 2019</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="m01"></div>

    <div class="col-md-12">
        <div class="container">
            <div class="phl0p">
                <p>This Demo Contest is available only for <span>Philippines Traders</span>. So participants from this country will be eligible for this Demo Contest.</p>
            </div>
        </div>
    </div>

    <div class="m01"></div>

    <div class="clearfix"></div>

    <div id="footerDiv">
    </div>

