    <div class="col-md-12 calcbx">
        <div class="container">
            <h3>Pip Calculator</h3>
            <p>Pip is the smallest measure by which a currency quote can change. Pip Calculator is a very useful tool that will help you to manage your risk more efficiently. </p>
			<p style="font-weight:400;">This will help you to calculate value of pip for the currency you want to trade.</p>
        </div>
    </div>

    <div class="col-md-12">
        <div class="container">
            <div class="pip_frame">
                <script type="text/javascript">DukascopyApplet = { "type": "pip_calculator", "params": { "header": false, "orientation": "landscape", "pipAmount": "100", "accountCurrency": "USD", "availableInstruments": "l:", "defaultInstrument": "EUR/USD", "resultColor": "#696969", "width": "527", "height": "203", "adv": "popup", "lang": "en" } };</script>
                <script type="text/javascript" src="../freeserv-static.dukascopy.com/2.0/core.js"></script>
            </div>
        </div>
    </div>