    <div class="banner_sec">
    </div>
    <!---banner_sec-->

    <div class="main_contact">
        <div class="container">
            <div class="contact_heding comparison">
                <h1>Risk Disclosure Statement</h1>
                <p>
                    IdealFx is a brokerage brand owned and operated by Grand Investing Ltd, a financial firm which offers various trading
                    instruments. The brokerage's headquarter is located at Ajeltake Road, Majuro, Marshall Islands with Registration Number
                    84516.
                </p>
                <p>
                    <strong>RISK WARNING:</strong> Contracts for Difference ('CFDs') are complex financial products, most of which have no set maturity
                    date. Therefore, a CFD position matures on the date you choose to close an existing open position. CFDs, which are leveraged
                    products, incur a high level of risk and can result in the loss of all of your invested capital. As a result, CFDs may
                    not be suitable for all individuals. You should not risk more than you are prepared to lose. Before deciding to trade,
                    you should ensure that you understand the risks involved and take into account your level of experience. You should
                    seek independent advice, if necessary.
                </p>
                <b>1.SCOPE OF THE NOTICE</b>
                <p>
                    1.1 The Risk Disclosure Notice ('the Notice') is provided to you in accordance with regulation on the basis that you
                    are proposing to trade with IdealFx in CFDs.
                    <br>
                    <br> 1.2 It should be noted that it is impossible for the Notice to contain all the risks and aspects involved in trading
                    CFDs; you need to ensure that your decision is made on an informed basis and as a minimum you should be taking into
                    consideration the following:
                </p>
                <b>2.PRODUCT DESCRIPTION</b>
                <p>
                    2.1 A CFD is an agreement to either buy or sell a contract that reflects the performance of, including amongst others,
                    forex, precious metals, futures and shares; the profit or loss of is determined by the difference between the price
                    a CFD is bought at and the price is sold at and vice versa. CFDs are traded on margin and it should be noted that no
                    physical delivery of either the CFD or underlying asset is occurring. It should also be noted that when you purchase,
                    for example, CFDs on shares you are merely speculating on the share's value to either increase or decrease.
                    <br>
                    <br> 2.2 CFDs fluctuate in value during the day; the price movements of CFDs are determined by a number of factors including
                    but not limited to availability of market information.
                </p>
                <b>PERFORMANCE</b>
                <p>3.1 It should be noted that past performance of CFDs is not a useful indicator of future performance.</p>
                <b>MAIN RISKS ASSOCIATED WITH TRANSACTIONS IN CFDs</b>
                <p>
                    4.1 Prior to trading CFDs, you need to ensure that you understand the risks involved. CFDs are leveraged products; therefore,
                    they carry a higher level of risk to your capital compared to other financial products. The value of CFDs may increase
                    or decrease depending on market conditions.
                    <br>
                    <br> 4.2 Due to the fact that CFDs are leveraged products, engaging in CFD trading may not be suitable for you and independent
                    advice should be sought if necessary. The potential for profit must be balanced alongside prudent risk management given
                    the significant losses that may be generated over a very short period of time when trading CFDs.
                    <br>
                    <br>4.3 You should not commence trading in CFDs unless you understand the risks involved.
                </p>
                <b>5.CAPITAL LOSS</b>
                <p>
                    5.1 CFDs, which are leveraged products, incur a high level of risk and can result in the loss of all of your invested
                    capital. However, it should be noted that IdealFx operates on a 'negative balance protection' basis; this means
                    that you cannot lose more than your initial investment.
                </p>
                <b>6.CREDIT RISK</b>
                <p>
                    6.1 When trading CFDs, you are effectively entering into an over-the-counter ('OTC') transaction; this implies that any
                    position opened with IdealFx cannot be closed with any other entity. OTC transactions may involve greater risk compared
                    to transactions occurring on regulated markets, for example traditional exchanges; this is due to the fact that in OTC
                    transactions there is no central counterparty and either party to the transaction bears certain credit risk (or risk
                    of default).
                </p>
                <b>7.LEVERAGE (OR GEARING)</b>
                <p>
                    7.1 CFD trading, unlike traditional trading, enables you to trade the markets by paying only a small fraction of the
                    total trade value. However, it should be noted that leverage, or gearing as it is often referred to, means that a relatively
                    small market movement may lead to a proportionately much larger movement in the value of your position. IdealFx
                    offers flexible leverage starting from 1:1 up to 1:500. In the context of MetaTrader 4, every Friday from 21.00 until
                    24.00 server time, or during any other time period specified by IdealFx, the Firm sets a maximum leverage rate for
                    opening a position of 1:100; if the latter occurs you shall be informed accordingly.
                    <br>
                    <br> 7.2 It should be noted that the Firm shall monitor the leverage applied your positions, at all times; the Firm reserves
                    the right to decrease the leverage depending on your trading volume.
                </p>
                <b>8.MARGIN ACCOUNT AND OTHER REQUIREMENTS</b>
                <p>
                    8.1 You need to ensure that you have sufficient margin on your trading account, at all times, in order to maintain an
                    open position. In addition, you need to continuously monitor any open positions in order to avoid positions being closed
                    due to the unavailability of funds; it should be noted that the Firm is not responsible for notifying you for any such
                    instances.
                    <br>
                    <br> 8.2 At margin levels of 25% (twenty-five) for IdealFx MetaTrader4, the Firm has the discretion to begin closing
                    positions starting from the most unprofitable one. In addition, at margin levels of 20% (twenty) for IdealFx MetaTrader4,
                    the Firm shall automatically begin closing positions at market price, starting from most unprofitable one.
                    <br>
                    <br> 8.3 Trading with the help of certain additional software such as Expert Advisor etc will be allowed on sole discretion
                    of IdealFx. If abnormal trading patterns such as Arbitrage are noticed in a Trading Account then IdealFx have
                    the right to disable the Account and/or Disallow/Cancel those trades where a minimum difference between opening and
                    closing of a trade is less than two minutes.
                </p>
                <b>9.ABNORMAL MARKET CONDITIONS</b>
                <p>
                    9.1 Under abnormal market conditions, CFDs may fluctuate rapidly to reflect unforeseeable events that cannot be controlled
                    either by the Firm or you. As a result, IdealFx may be unable to execute your instructions at the declared price
                    and a 'stop loss' instruction cannot guarantee to limit the latter's loss.
                    <br>
                    <br> 9.2 CFD prices are influenced by, amongst other things, implementation of governmental, agricultural, commercial and
                    trade programs and policies and national and international socioeconomic and political events.
                </p>
                <b>10.TRADING PLATFORM CONDITIONS</b>
                <p>
                    10.1 You accept that the only reliable source of price related information is the Quotes represented on the real/ live
                    server; this service may be disrupted and as a result price related information may not reach the client.
                    <br>
                    <br> 10.2 You shall regularly consult the 'Help' menu or UserGuide of the trading platform(s); if a conflict arises the
                    Service Agreement shall prevail unless IdealFx determines, in its sole discretion, otherwise.
                </p>
                <b>11.COMMUNICATION</b>
                <p>
                    11.1 IdealFx bears no responsibility for any loss that arises as a result of delayed or un-received communication
                    sent to you by the Firm.
                    <br>
                    <br> 11.2 In addition, IdealFx bears no responsibility for any loss that arises as a result of unencrypted information
                    sent to you by the Firm that has been accessed via unauthorised means.
                    <br></br>
                    11.3 IdealFx bears no responsibility for any un-received or unread internal messages sent to you through the trading
                    platform(s); in case a message is not received or read within 7 (seven) calendar days the message gets automatically
                    deleted.
                    <br>
                    <br> 11.4 You are solely responsible for the privacy of any information contained within the communication received by IdealFx.
                    <br>
                    <br> 11.5 Moreover, you accept that any loss that arises as a result of unauthorised access of a third party to your trading
                    account is not the responsibility of IdealFx.
                </p>
                <b>12.FORCE MAJEURE EVENT</b>
                <p>
                    12.1 In case of a Force Majeure Event you shall accept any loss arising.
                    <br>
                    <br> 12.2 Further details read the 'Force Majeure Event' is available in the 'Client Agreement'.
                </p>
                <b>13.TAXATION</b>
                <p>
                    13.1 Although investing in CFDs does not involve taking physical delivery of the underlying financial instrument independent
                    tax advice should be sought, if necessary, to establish whether you are subject to any tax, including stamp duty.
                </p>
                <b>14.ACCOUNT REVIEW></b>
                <p>
                    14.1 Through the trading platform(s), you may review any of your trading accounts, including but not limited to open
                    and closed positions. In addition, through IdealFx client area you may manage your account and deposit or withdraw
                    money depending on your trading needs.
                </p>
                <b>15.COSTS AND OTHER CONSIDERATIONS</b>
                <p>
                    15.1 Prior to trading CFDs you need to consider the costs involved such as spread(s) (including mark-up, if applicable),
                    commission(s) and swap(s). Not all costs are represented in monetary terms (for example, costs may appear as a percentage
                    of the value of a CFD). IdealFx reserves the right to change, from time to time, any of the costs applicable to
                    trading CFDs; you understand and accept that the most up-to-date information in relation to costs is available online
                    at the IdealFx site.
                </p>
                <b>16.SWAP VALUE</b>
                <p>
                    16.1 A swap is the interest added or deducted for holding a position open overnight. Depending on the position held and
                    the interest rates of the currency pair involved in the transaction your trading account may either be credited or debited,
                    accordingly. Your trading account is reconciled every day at 23:59:31 (server time) and the resulting amount shall be
                    automatically converted into the currency that your trading account is denominated in.
                    <br>
                    <br> The swap for a position opened on Wednesday and held open overnight is three times that of other days; the reason for
                    this is that the value date of a trade held open overnight on a Wednesday would normally be Saturday, but since banks
                    are closed, the value date is Monday and the client incurs an extra 2 (two) days of interest. From Friday to Monday
                    swap is charged once. Please note that the rollover interest rates charged by IdealFx are based on the interbank
                    rates; IdealFx updates such rollover interest rates as often as it deems necessary. You agree that you shall be
                    notified of the applicable swap value by visiting the IdealFx site. In addition, you are responsible for checking
                    the applicable swap value prior to placing an instruction for trading.
                </p>
            </div>
        </div>
    </div>
    <div class="live_links">
        <a target="_blank" href="https://secure.idealfx.io/Account/Login">Member Login</a>
        <span>or</span>
        <a target="_blank" href="https://secure.idealfx.io/">Open Live Account</a>
    </div>