	<div class="banner_sec">
		
	</div>
	<!---banner_sec-->
	<div class="breadcrumb">
		<div class="container">
			<span>HOME / Education /
				<a href="#">Some Basic Trading Concepts and Additional Strategies</a>
			</span>
		</div>
	</div>
	<div style="height:145px"></div>
	<div class="main_contact">
		<div class="container">
			<div class="contact_heding comparison text-center">
<h2 class="text-left"> Trading Breakouts in Forex</h2>

<p>   Many traders spend a lot of time looking for potential breakout situations when trading the forex markets. This is because when these breakouts occur, they very often yield a lot of points. Here we discuss three simple trading strategies designed to catch these breakouts. </p>
<p>   The first method makes use of Bollinger Bands. This technical indicator is very useful in displaying areas of support and resistance, which is marked by the two outer lines of the Bollinger Band range. Therefore when one of these outer limits is breached, you very often get a breakout, in the same direction. </p>
<p>   So to trade this breakout, you ideally want to wait for a period where the outer lines of the Bollinger Bands indicator have narrowed because this indicates a period of tight consolidation. This means that a breakout, will usually have momentum when it does break out of this tight range. Then when the price does break through one of the outer lines you can either jump in straight away or wait for a pullback to a short-term Exponential Moving Average, for example, for a better entry point. </p>
<p>   The second method you can use involves using multiple Exponential Moving Averages, and in particular the 5, 20 and 50 period EMA's. You may also like to add the 100 or 200 period EMA to your chart as well. </p>
<p>   Then you simply wait until all of these indicators have flattened out and are trading very close to each other, along with the price. Then you wait for the shorter term EMA, ie the EMA (5) to break out strongly from this narrow range, before taking a position in the same direction as the breakout, and close to the EMA (5) for maximum value. </p>
<p>   Finally you can use a price-based system to trade breakouts. There are various ways you can do this. The simplest systems involve waiting until the price has started trading in a very narrow range, and then taking a position when the price breaks out of this range. </p>
<p>   Another common system involves noting the high and low point from the previous day and then waiting for the price to break out of this range the following day. Indeed this can be a very effective way of trading the major currency pairs. </p>
<p>   So overall there are a few ways in which you can trade forex breakouts. Of course like all trading methods none of these methods, work 100% of the time, and you will need to adopt a good stop loss strategy. </p>
<h4 class="text-left"> 
Pivot Points</h4>

<p>   In recent years pivot points have become a very well known and widely used technical analysis tool. To understand pivot point levels you need to understand the ideas behind support and resistance. Support and resistance levels give traders a visual gauge of pressure points within the market, specifically at certain price levels. </p>
<h4 class="text-left"> 
Summary of Support and Resistance: </h4>

<p>   In short, support levels are considered levels at which price decline is continually rejected. Conversely, resistance levels are considered levels at which price increase is continually rejected. Traders looking at a support level and resistance level in conjunction with one another are essentially examining what is referred to as a channel. It is very common to see price trends within the bounds of trading channels; meaning that for hours, or perhaps days at a time, a currency may trade within the bounds of support and resistance levels. Many times throughout a trend the price may test either the support or resistance level, but ultimately if the price is to remain within the channel, the support and resistance levels will be tested, but not pushed through</p>
<p>   Just the opposite of what is explained above, if a support or resistance level is tested for hours or days on end without a breakout, and finally the price does push through the bounds of this channel, it may be considered a strong indication that the price will take on an entirely new direction / trend. </p>
<h4 class="text-left"> 
Using Support and Resistance to Trade: </h4>

<p>   Traders watching support and resistance levels are generally looking for one of the following trading opportunities: </p>
<p>   A chance to buy after the support level has been pushed, but not broken through several times. The trader's entry would likely be at the end of a strong bullish candle that began with a touch of the support level. </p>
<p>   The alternative scenario is a chance to buy after a previously tested resistance level is finally pushed through with a strong bullish candle. In other words, buyers in the market have tried numerous times to push prices above a resistance level, yet have failed. Finally prices breakthrough in the form of a strong up-candle, indicating that perhaps, buyers will finally have their way and push the price higher. </p>
<p>   A chance to sell after a previously tested support level is finally pushed through with a strong bearish candle. In other words, sellers in the market have tried numerous times to push prices below the support level, yet have failed. Finally prices breakthrough in the form of a strong down-candle, indicating that perhaps, sellers will finally have their way and push the price lower. </p>
<h4 class="text-left"> 
Understanding the Pivot Point Difference: </h4>

<p>   There are multiple scenarios in which a trader might utilize support and resistance levels as a means to identify key entry and exit points. Pivot points are simply a series of support and resistance levels, with the inclusion of a median price level. Standard pivot points include 5 levels (levels that are represented as distinct lines on your charts). The median level, or middle line of the 5, is called the 'pivot point'. The other 4 levels are found above and below the pivot point in the form of 2 support lines (S1 and S2) and 2 resistance lines (R1 and R2). </p>
<p>   Using the previous trading session's open, high, low and close in order to calculate these pivot levels gives traders an added advantage beyond simply looking at one support level and one resistance level. Through the use of pivot points, traders are able to gauge support and resistance levels on a scale in relation to an average price range (the pivot point or line itself) for the trading session. </p>
<p>   Always bear in mind, the crucial importance of market sentiment; mathematically pivot points may or may not correlate with future price movement, but because pivot points are now very widely used by technical traders - their potential to impact price direction is certainly worth considering. Said another way, if millions of technical traders are all watching the same support and resistance levels and buying and selling in accordance with those levels; market sentiment can quickly become market reality. Pivot points may be as effective as they are at times simply because so many traders are basing trades on the same levels. </p>
<h4 class="text-left"> 
Calculating Pivot Points: </h4>

<p>   Key figures are derived from the open, high, low and closing price of the previous day's trading session. These figures should be based on trading days or sessions considered started and ended at 0:00 GMT (Greenwich Mean Time). GMT is used because of the global aspect of currency trading; with various markets (Australia, Asia, Europe, US) constantly opening and closing globally - a 24-hour-a-day market is created. GMT is used to mark the start and end of trading days because it is considered a globally central time. </p>
<p>   These calculations are shown for your reference. Most pivot products will draw these levels on your chart for you. </p>
<p>   Pivot Point (PP): High + Low + Close / 3</p>
<p>   The calculations for support and resistance levels are based on the number calculated for the pivot point itself and are as follows: </p>
<p>   First Support (S1): (2 x PP) - High</p>
<p>   Second Support (S2): PP - (High - Low) </p>
<p>   First Resistance (R1): (2 x PP) - Low</p>
<p>   Second Resistance (R2): PP + (High - Low) </p>
<p>   As is the case with many technical analysis methods, strategies, and indicators - pivot points are far from an exact science. Pivot points may be completely irrelevant technically when trading right after a major fundamental news announcement. Traders should also consider other technical indicators, the overall trend of the currency pair, and the time frame of the chart they are analyzing pivots on in correlation with how long they plan to remain in an open position. </p>
<h4 class="text-left"> 
When to Use Pivot Points</h4>

<p>   Prices tend to volley between two pivot lines. If a price is right at S1 it is most likely to move back toward PP, only a fairly strong bearish candle would indicate a further break and move towards S2. Conversely, if a price is at R1 it is most like to move back towards PP and only a strong bullish candle would indicate a move towards R2. When prices are trading at the pivot line itself, look for a strong series of bullish or bearish candles to indicate a move back towards R1 or S1. </p>
<p>   Pivot points seem to work the best in moderately sideways markets, or on a currency pair that is not experiencing significantly strong bullish or bearish trend over the previous few days.
<p>   Prices within pivot points can move two or three lines at a time during major news announcements, or what is more likely; pivot points may be completely irrelevant during news announcements. </p>
<h4 class="text-left"> 
Fibonacci</h4>

<p>   Fibonacci retracement is a very popular tool among technical traders and is based on the key numbers identified by mathematician Leonardo Fibonacci in the thirteenth century. However, Fibonacci's sequence of numbers is not as important as the mathematical relationships, expressed as ratios, between the numbers in the series. In technical analysis, Fibonacci retracement is created by taking two extreme points (usually a major peak and trough) on a stock chart and dividing the vertical distance by the key Fibonacci ratios of 23.6%, 38.2%, 50%, 61.8% and 100%. Once these levels are identified, horizontal lines are drawn and used to identify possible support and resistance levels. Before we can understand why these ratios were chosen, we need to have a better understanding of the Fibonacci number series. </p>
<p>   The Fibonacci sequence of numbers is as follows: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, etc. Each term in this sequence is simply the sum of the two preceding terms and sequence continues infinitely. One of the remarkable characteristics of this numerical sequence is that each number is approximately 1.618 times greater than the preceding number. This common relationship between every number in the series is the foundation of the common ratios used in retracement studies. </p>
<p>   The key Fibonacci ratio of 61.8% - also referred to as "the golden ratio" or "the golden mean" - is found by dividing one number in the series by the number that follows it. For example: 8/13 = 0.6153, and 55/89 = 0.6179. </p>
<p>   The 38.2% ratio is found by dividing one number in the series by the number that is found two places to the right. For example: 55/144 = 0.3819. </p>
<p>   The 23.6% ratio is found by dividing one number in the series by the number that is three places to the right. For example: 8/34 = 0.2352. </p>
For reasons that are unclear, these ratios seem to play an important role in the stock market, just as they do in nature, and can be used to determine critical points that cause an asset's price to reverse. The direction of the prior trend is likely to continue once the price of the asset has retraced to one of the ratios listed above. </p>
<p>   In addition to the ratios described above, many traders also like using the 50% and 78.6% levels. The 50% retracement level is not really a Fibonacci ratio, but it is used because of the overwhelming tendency for an asset to continue in a certain direction once it completes a 50% retracement. </p>
<h4 class="text-left"> 
Advice on Using Trading Strategies</h4>

<p>   There are no strategies that can guarantee you positive returns in every trading scenario. Furthermore, not every trader wishes to use the same strategy in the same way and may have their own set of constraints in terms of time that they wish to be in the market, size of positions they can hold etc. </p>
<p>   Adopting a certain trading strategy will ultimately depend on the trader and the trader should research the strategy for themselves before implementing it. With this in mind, we have provided a list of common strategies for you to research at your leisure. </p>










			</div>
		</div>
	</div>
	<div class="live_links">
		<a target="_blank" href="https://secure.idealfx.io/">Open Live Account</a>
		<span>or</span>
		<a target="_blank" href="https://secure.idealfx.io/">Open Demo Account</a>
	</div>