		   
<div class="image"> 
  <div class="container"> 
    <div class="row"> 
      <div class="col-md-6 col-sm-7 col-xs-12"> 
        <div class="text"> <h2>Social Trading :</h2> <h3>THE ULTIMATE COPY TRADING PROGRAMME
               WITH<span>Expert Global Miners</span></h3> 
          <p>Join cutting-edge copy trading programme with Expert Global Miners 
                Social Trading  and  match up  with a suitable trader. Let them trade while you 
                watch your potential profits grow.</p> <button class="btn" type="submit"> <a target="_blank" href="https://secure.Expert Global Miners.io/">START COPY TRADING</a></button> 
        </div> 
      </div> 
    </div> 
  </div>
	<section class="info_section">
    <div class="container"> 
       
      <div class="text_middle"> <h2>How it Works</h2></div>
<div class="row" >
	<div class="col-md-2"></div>
  <div class="col-md-8">
                        <img class="responsive" src="images/copyng.png" alt="Social Trading Program">
                    </div>
	<div class="col-md-2"></div>
				</div >
        </div>  
		</section>
	  <section class="services-section">
      <div class="container"> 
 <h1>Invest with as little as 500 USD</h1> 
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"> 
            <div class="iimmg"> <img src="images/01.png">
            </div> <h5>Simple</h5> 
            <p>Get started in no time, with no need for<br> advanced forex knowledge.</p> 
          </div> 
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"> 
            <div class="iimmg"> <img src="images/02.png">
            </div> <h5>Flexible</h5> 
            <p>By choosing from 600+ Strategy Managers, you decide who to follow &amp; how much you want to invest.</p> 
          </div> 
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"> 
            <div class="iimmg"> <img src="images/03.png">
            </div> <h5>Safe</h5> 
            <p>No one, except you, has access to your <br>personal details or money.</p> 
          </div> 
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"> 
            <div class="iimmg"> <img src="images/04.png">
            </div> <h5>Efficient</h5> 
            <p>Sign up within minutes, and monitor your<br> funds in real-time.</p> 
          </div> 
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"> 
            <div class="iimmg"> <img src="images/05.png">
            </div> <h5>Accessible</h5> 
            <p>Get started in Use our Expert Global Miners Website or Client area to access Expert Global Miners Invest directly.</p> 
          </div> 
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"> 
            <div class="iimmg"> <img src="images/06.png">
            </div> <h5>Practical</h5> 
            <p>Withdraw your funds instantly, and pay your Strategy Manager only in case of profit's discover 
				 how much you could earn by using our forex investment calculator.</p> 
          </div> 
        </div> 
      </div> </section>
    <div class="xtream_phone"> 
      <div class="container"> <h1>Join Our Social Trading Today</h1> 
        <div class="col-md-7 col-sm-7 col-xs-12"> 
          <p>1. Register for your Investment Account.<br>                  2. Select the Strategy Manager of your choice.<br>                  3. Verify your profile.<br>                  4. Deposit funds and watch your portfolio grow.</p> 
			<label class="cpy_lbl">Read the <a href="Expert Global Miners%20Copy%20Agreement.html" target="_blank" style="color: #d60302;">Terms and Conditions </a>for full details.</label>
        </div> 
        <div class="col-md-5 col-sm-5 col-xs-12"> 
          <div class="image_xtream"> <img class="mobl-hide" src="images/Layer%2037.png">
          </div> 
        </div> 
      </div> 
    </div>
  <div class="live_links"> <a target="_blank" href="trade/signup">Become Fund Manager</a> <span>or</span> <a target="_blank" href="trade/signup">Become A Investor</a> 
  </div> 
