	<div class="banner_sec">
	</div>
	<!---banner_sec-->
	<div class="breadcrumb">
		<div class="container">
			<span>HOME /
				<a href="#">Terms and Conditions</a>
			</span>
		</div>
	</div>
	<div class="main_contact">
		<div class="container">
			<div class="contact_heding comparison">
				<h1>Terms and Conditions</h1>
				<p>IdealFx is a brokerage brand owned and operated by Grand Investing Ltd, a financial firm which offers various trading
					instruments. The brokerage's headquarter is located at Ajeltake Road, Majuro, Marshall Islands with Registration Number
					84516.</p>
				<ul class="decimal-list">
					<li>By accessing this site, you signify your agreement with and understanding of the following Terms and Conditions pertaining to both this site and any material at it.</li>
					<li>For clients of IdealFx, the Company reserves the right to change these Terms and Conditions at any time without notice to you. You are therefore responsible for regularly reviewing these Terms and Conditions. Continued use of this site following any such changes shall constitute your acceptance of such changes.</li>
					<li>The Company owns and maintains this site. No act of downloading or otherwise copying from this site will transfer title to any software or material at this site to you. Anything that you transmit to this site becomes the property of the Company, may be used by the Company for any lawful purpose, and is further subject to disclosure as deemed appropriate by the Company, including to any legal or regulatory authority to which the Company is subject. The Company reserves all rights with respect to copyright and trademark ownership of all material at this site, and will enforce such rights to the full extent of the law.</li>
					<li>A browser may access this web site on his/her own responsibility, and it does not mean in any way that he/she has become a client of IdealFx.</li>
					<li>The browser is fully aware that all information and analysis provided by the company on this site is to view only, and do not constitute in any case to urge the browser to carry out any buying or selling transactions of any of the financial instruments provided by the company.</li>
					<li>The information and analysis contained in IdealFx web site may not be complete, or accurate, and therefore, the company does not assume the responsibility towards any investor or any third party regarding the accuracy of the information contained on this web site.</li>
					<li>We are not responsible for any contents published on any other web site, even those we may link to. IdealFx will not be held responsible for any consequences that may result from actions based on the contents of another web site.</li>
					<li>You may access IdealFx web site from any place in the world, but the financial products mentioned on the web site may not be allowed by law to all investors in all countries. The access to this web site may be restricted to certain legal restrictions. Users of this web site subject to such legal restrictions and are not allowed accessing it, and the company does not bear any responsibility towards any individual who may access the web site illegally.</li>
					<li>IdealFx may collect personal information from its web site visitors. Such information will be used according to IdealFx Privacy Policy.</li>
					<li>IdealFx reserves the right to change, update, and amend the terms and conditions at any time. They will be posted on this web site and you are responsible for regularly reviewing these terms and conditions.</li>
				</ul>

			</div>
		</div>
	</div>
	<div class="live_links">
		<a target="_blank" href="https://secure.idealfx.io/Account/Login">Member Login</a>
		<span>or</span>
		<a target="_blank" href="https://secure.idealfx.io/">Open Live Account</a>
	</div>