
    <div class="content">
        <div class="banner">
            <img class="responsive" src="images/MyImages/DemoContestBanner.png" />
        </div>

<div class="container rankingbtn">
</div>


        <div style="margin-bottom:60px;"></div>
		
		

       <div class="col-md-12 text-center">
            <div class="container">
                <label class="contst-lbl">Only for Traders of <span>Thailand, Malaysia and Indonesia</span></label>
                <p class="contst-para">
                    IdealFx demo contest provide traders a chance to get real money without investing your own funds! 
                    Before you start real trading take your first step in this exciting opportunity, make little real cash and test your skills.
                    Join and take a dive into the exciting world of Forex trading competition with IdealFx! 
                    Here we offer forex trading contest for demo accounts once in a year. You can join this contest for free. 
                    Forex Demo Trading competitions are the best way for beginners to gain experience in Forex trading and to try out and improve your trading strategies in a competitive environment.
                </p>
                <div align="center">
<div class="col-md-12">
    <a class="mblive" href="https://secure.idealfx.io/ThaiContestRanking" style="background-color: #a50100;
    color: #fff;
    padding: 8px 20px;
    border: none;
    box-shadow: 1px 1px 5px 0px rgba(210, 209, 209,0.7);
    font-size: 18px;
    border-radius: 3px;">Demo Contest Live Ranking</a>
	</div>
					<div class="col-md-12" style="margin: 20px 0px 0px;">
	<a class="" href="Thailand%20Demo%20Contest%20Terms%20and%20Conditions.pdf" target="_blank" style="color: #af0100;font-size: 20px;font-weight: 400;"> View T&amp;C</a>
					</div>
				
            </div>
        </div>

        <div style="margin-bottom: 67px">
        </div>


        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <div class="tym-bx">
                            <h2 class="tym-head">Registration Period</h2>
                            <label class="tym-para">19th August 2019 to 27th September 2019</label>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="tym-bx">
                            <h2 class="tym-head">Trading Period</h2>
                            <label class="tym-para">30th September 2019 to 1st November 2019</label>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="tym-bx">
                            <h2 class="tym-head">Winner Announcement</h2>
                            <label class="tym-para">7th November 2019</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-bottom: 67px">
        </div>



        <div class="col-md-12 text-center">
            <div class="container">
                <div>
                    <h2 class="main-head">IdealFx Demo Contest Prizes</h2>
                    <p class="contst-para">Top three contestants who will make highest profit in the demo accounts will be eligible for cash prize.</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 main-prizebx">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <img src="images/MyImages/demo01.png" class="responsive" />
                    </div>
                    <div class="col-md-5">
                        <div class="prize">
                            <div class="row">
                                <div class="col-md-5">
                                    <img class="responsive" src="images/MyImages/trophy.png" />
                                </div>
                                <div class="col-md-7 prize-bx">
                                    <h2 class="prize-head1">1st Prize</h2>
                                    <h3 class="prize-head2">$1000</h3>
                                </div>
                            </div>
                        </div>
                        <div class="prize">
                            <div class="row">
                                <div class="col-md-5">
                                    <img class="responsive" src="images/MyImages/trophy.png" />
                                </div>
                                <div class="col-md-7 prize-bx">
                                    <h2 class="prize-head1">2nd Prize</h2>
                                    <h3 class="prize-head2">$750</h3>
                                </div>
                            </div>
                        </div>
                        <div class="prize">
                            <div class="row">
                                <div class="col-md-5">
                                    <img class="responsive" src="images/MyImages/trophy.png" />
                                </div>
                                <div class="col-md-7 prize-bx">
                                    <h2 class="prize-head1">3rd Prize</h2>
                                    <h3 class="prize-head2">$500</h3>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
		



        <!--<div class="col-md-12">
            <div class="container">
                <h2>Register Now</h2>
                <p>This Demo Contest is available only for Thailand, Malaysia and Indonesia. So participants from these countries will be eligible for Demo Contest</p>
            </div>
        </div>-->
        

    </div>
