
    <div class="col-md-12" style="padding:0px">
        <img class="responsive" src="images/trading-tools2.png" alt="Online Currency Trading" />
    </div>

    <div class="col-md-12 tool_bx">
        <div class="container">
            <p>
                Never miss an opportunity to minimize your risk! Improve your trading strategies and make better decisions with Expert Global Miners powerful Trading Tools such as
                currency converter, pip calculators and various other trading mechanisms that can be used in Forex Market.
            </p>
        </div>
    </div>
    <div class="col-md-12 tabb">
        <div class="container">
            <div class="row" style="background-color: #f1f1f1; border-radius: 3px;">
                <div class="col-md-4">
                    <div class="row">
                        <img class="responsive toolimg" src="images/holiday.png">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="in-tab">
                        <h3>Forex Holidays</h3>
                        <p>A detailed list of worlwide holidays which may influence Forex Trading. Check detailed list of Forex Holiday Schedule!</p>
                        <div class="col-md-12">
                            <a href="holidaycalendar.html">Use This Tool</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-12 tabb">
        <div class="container">
            <div class="row" style="background-color: #f1f1f1; border-radius: 3px;">
                <div class="col-md-4">
                    <div class="row">
                        <img class="responsive toolimg" src="images/fx-calculator.png">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="in-tab">
                        <h3>Position Size Calculator</h3>
                        <p>Position Size Calculator help you analyse real time value with current market price and provides you accurate results.</p>
                        <div class="col-md-12">
                            <a href="positionsizecalculator.html">Use This Tool</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-12 tabb">
        <div class="container">
            <div class="row" style="background-color: #f1f1f1; border-radius: 3px;">
                <div class="col-md-4">
                    <div class="row">
                        <img class="responsive toolimg" src="images/pip-calc.png">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="in-tab">
                        <h3>Pip Calculator</h3>
                        <p>Use Pip Calculator and Trade CFDs on Forex to calculate the value of pip you want to trade in forex. </p>
                        <div class="col-md-12">
                            <a href="pipcalculator.html">Use This Tool</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-12 tabb">
        <div class="container">
            <div class="row" style="background-color: #f1f1f1; border-radius: 3px;">
                <div class="col-md-4">
                    <div class="row">
                        <img class="responsive toolimg" src="images/economic.png">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="in-tab">
                        <h3>Economic Calendar</h3>
                        <p>Stay up to date with all market moving economic events across the world. Easy way to track economic updates.</p>
                        <div class="col-md-12">
                            <a href="economic_calendar-2.html">Use This Tool</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

