	<div class="banner_sec">
		
	</div>
	<!---banner_sec-->
	<div class="breadcrumb">
		<div class="container">
			<span>HOME / Education /
				<a href="#">Understanding Currency Pairs</a>
			</span>
		</div>
	</div>
	<div style="height:145px"></div>
	<div class="main_contact">
		<div class="container">
			<div class="contact_heding comparison text-center">
<h2 class="text-left"> The Majors</h2>
<p>   Most currency transactions involve the "Majors", consisting of the British Pound (GBP), Euro (EUR), Japanese Yen (JPY), Swiss Franc (CHF) and the US Dollar (USD). Whilst these are the key five currencies, the Canadian Dollar (CAD) and the Australian Dollar (AUD) are starting to be considered as additional 'major' currencies. </p>
<h4 class="text-left"> Currencies in Pairs</h4>

<p>   The logic for currency pairing, is that if we had a single currency alone, we would have no means to measure its relative value. By pairing two currencies against each other a fluctuating value can be established for one versus the other. </p>
<p>   Currency Pairs that do not include the US dollar are commonly referred to as Cross Currency Pairs. Cross Currency trading can open a completely new aspect of the Forex market to speculators. Some cross currencies move very slowly and trend very well. Other cross currency pairs move very quickly and are extremely volatile with daily average movements exceeding 100 pips </p>
<h4 class="text-left"> The SWAP</h4>

<p>   When we execute a Forex transaction, we essentially borrow one currency and lend another. This borrowing and lending is like any other banking transaction and therefore subject to interest rates. The interest is referred to as the SWAP rate in the currency markets. The Swap is a credit or debit as a result of daily interest rates. When traders hold positions overnight, they are either credited or debited interest based on the rates at the time. </p>






			</div>
		</div>
	</div>
	<div class="live_links">
		<a target="_blank" href="https://secure.idealfx.io/">Open Live Account</a>
		<span>or</span>
		<a target="_blank" href="https://secure.idealfx.io/">Open Demo Account</a>
	</div>