	<div class="banner_sec">
		
	</div>
	<!---banner_sec-->
	<div class="breadcrumb">
		<div class="container">
			<span>HOME / Education /
				<a href="#">Understanding Forex Pricing</a>
			</span>
		</div>
	</div>
	<div style="height:145px;"></div>
	<div class="main_contact">
		<div class="container">
			<div class="contact_heding comparison text-center">
<h2 class="text-left"> The Spread</h2>

<p>   Forex prices are displayed in the form of a Bid/Ask spread. The spread is the difference between the Bid and the Ask. The Bid and Ask serve as the prices that similar to other financial products. The Bid is the price at which a trader is able to sell a currency pair. The Bid price or sell price of a currency pair is always the lower price in a quote. The Ask, also sometimes referred to as the "Offer", is the price at which traders are able to buy a currency pair. </p>
<p>   The difference between the Bid and Ask is called the "Spread" and is effectively the cost of trade. There are typically no additional broker commissions involved in trading the Forex market, although we are witnessing a move towards commission based trading due to market execution. </p>
<h4 class="text-left"> Pips</h4>

<p>   Market increments are measured in 'Percentage in Point' or Pips for short. A pip is the last digit in the value of a currency pair (if you are trading from a 4 digit price feed); 1.3294, 115.13 etc. All Forex currency pairs, except for the Japanese Yen, measure the pip from the 4th decimal place. </p>
<h5 class="text-left"> Price Quotes: What do they mean? </h5>

<p>   Reading a Forex quote may seem a bit confusing at first. However, it's really quite simple if you are able to remember two things: </p>
<p>   The first currency listed is the base currency</p>
<p>   The value of the base currency is always 1 (one) </p>
 
<p>   A quote of GBP at 1.5000 is to say that 1 Sterling Pound (GBP) = 1.5000 US Dollar (US). When the Sterling Pound is the base unit and a currency pair's price increases, comparatively the Sterling Pound has appreciated and the other currency in the pair (usually known as the quote currency) has weakened. Using the above GBPUSD example as a reference, if the GBP/USD increases, from 1.5000 to 1.5100 (100 pips), the GBP is stronger because it will now buy more USD than before. </p>
<p>   There are four currency pairs involving the US dollar in which the US dollar is not the base currency. These exceptions are the Australian dollar (AUD), the British Pound (GBP), the Euro (EUR), and the New Zealand dollar (NZD). A quote on the GBP/USD of 1.7600 would mean that one British Pound is equal to 1.7600 US dollars. If the price of a currency pair increases the value of the base currency in comparison to the quote currency thus increases. Conversely, if the price of a currency pair decreases, such is to say that the value of the base currency in comparison to quote currency has weakened. </p>
<h4 class="text-left"> What Influences Price? </h4>

<p>   Forex markets and prices are mainly influenced by international trade and investment flows. It is also influenced, but to a lesser extent, by the same factors that influence the equity and bond markets: economic and political conditions, especially interest rates, inflation, and political stability, or as is often the case, political instability. Though economic factors do have long term effects, it is often the immediate reaction that causes daily price volatility, which makes Forex trading very attractive to intra-day traders. </p>
<p>   Currency trading can offer investors another layer of diversification. Trading currencies can be viewed as a means to protect against adverse movements in the equity and bond markets, movements that of course also impact mutual funds. You should bear in mind that trading in the off-exchange foreign currency market is one of the riskiest forms of trading and you should only invest a small portion of your risk capital in this market. </p>




			</div>
		</div>
	</div>
	<div class="live_links">
		<a target="_blank" href="https://secure.idealfx.io/">Open Live Account</a>
		<span>or</span>
		<a target="_blank" href="https://secure.idealfx.io/">Open Demo Account</a>
	</div>