
<div class="banner_sec"><img src="images/vip.png" alt="VIP Trading Account"/></div>
<!---banner_sec-->

<div class="main_contact">
<div class="container">
<div class="contact_heding comparison">
<h1><span style="color: #ff0000;">VIP</span> Account</h1>

<p>Expert Global Miners Vip Accounts are exclusive trading accounts for high net worth individuals and those that frequently and actively trade large volumes. With a Vip Account, you can enjoy a range of exclusive benefits to help supplement your trading skills and strategies.</p>


</div>

<div class="spacer20"></div>

<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body> <h2>Account Details</h2> 
<table>
  <tbody>
    <tr style="background: rgb(219, 1, 0);">
      <th style="color: rgb(255, 255, 255); font-weight: bold; width: 20%;">ACCOUNT TYPE</th> 
      <th style="color: rgb(255, 255, 255); font-weight: bold; width: 20%;">VIP</th> 
    </tr>
    <tr>
      <td>Minimum deposit</td> 
      <td>$20,000 </td> 
    </tr>
    <tr>
      <td>Spreads from pips</td> 
      <td>0</td> 
    </tr>
    <tr>
      <td>Commission	</td> 
      <td>1$</td> 
    </tr>
    <tr>
      <td>Stop Out Level</td> 
      <td>30%</td> 
    </tr>
    <tr>
      <td>Margin Call</td> 
      <td>60%</td> 
    </tr>
    <tr>
      <td>Execution Type</td> 
      <td>Market</td> 
    </tr>
    <tr>
      <td>Maximum Leverage	 </td> 
      <td>1:200 </td> 
    </tr>
    <tr>
      <td>Swap Free Accounts</td> 
      <td>N/A</td> 
    </tr>
    <tr>
      <td>Minimum Order Size in Lots</td> 
      <td>0.1</td> 
    </tr>
    <tr>
      <td>Maximum Open Orders:</td> 
      <td>Unlimited</td> 
    </tr>
    <tr>
      <td>Expert Advisor</td> 
      <td><img style="width: 25px;" src="images/ticc.png" /></td> 
    </tr>
    <tr>
      <td>Scalping/Hedging</td> 
      <td><img style="width: 25px;" src="images/ticc.png" /></td> 
    </tr>
    <tr>
      <td>Maximum Trade Volume</td> 
      <td>Unlimited</td> 
    </tr>
    <tr>
      <td>Bonus</td> 
      <td><img style="width: 25px;" src="images/cros.png" /></td> 
    </tr>
    <tr>
      <td>Deposit Currencies</td> 
      <td>USD</td> 
    </tr>
    <tr>
      <td>Account Manager</td> 
      <td><img style="width: 25px;" src="images/ticc.png" /></td> 
    </tr>
  </tbody>
</table>
</div>
 </div> 
</div> 
&nbsp;
<div class="live_links"><a target="_blank" href="trade/signup">Open Live Account</a> <span>or</span> <a target="_blank" href="trade/signup">Open Demo Account</a> 
</div> 