	<!---banner_sec-->

    <div class="main_contact">
        <div class="container">
            <div class="contact_heding comparison text-center">
                <h2 class="text-left">What is Risk Management?</h2>
                <p>The term Risk management according to the world of finance is, "identifying the potential risks or threats in well advance, dealing with them and then taking necessary precautions to curb the risk". Risk management is usually done by assessing, identifying and taking control of threats of a particular company or a financial organization whose Capital and their profit earnings are at stake. Following this procedure is an effective and standard way to minimize the losses. </p>
                <p>Risks occur due to various reasons, including changes in the market, financial uncertainties, liabilities, management errors, wrong planning and also due to natural disasters. </p>
                <h4 class="text-left">What Risks do you Face Trading Currencies?</h4>
                <p>There are two basic classifications of risk:</p>

                <ul class="about_li">
                    <li>Systematic Risk - also sometimes called market risk, aggregate risk, or undiversifiable risk, is the risk associated with overall aggregate market returns. Systematic risk is a risk of security that cannot be reduced through diversification.</li>
                    <li>Unsystematic Risk - Sometimes referred to as "specific risk". An example is economic news that affects a specific country or region. Diversification across multiple non-related currency pairs is the only way to truly protect the portfolio from unsystematic risk.</li>
                </ul>
                <br />


                <h4 class="text-left">Country Risk</h4>
                <p>This refers to the risk that a country won't be able to honor its financial commitments. When a country defaults, it can harm the performance of all other financial instruments in that country as well as other countries, it has relations with. Country risk applies to stocks, bonds, mutual funds, options, futures and most importantly the currency that is issued within a particular country. This type of risk is most often seen in emerging markets or countries that have a severe deficit.</p>

                <h4 class="text-left">Forex Risk</h4>
                <p>When investing in foreign currencies you must consider that the currency exchange rate fluctuations of closely linked countries can drastically move the price of the primary currency as well. For example, economic and political events directly tied to the British Pound (GBP) have an effect on the Euro's trading (i.e. the EUR/USD might have similar reaction as GBP/USD even though they are both separate currencies and are not in the same currency pair). Knowing what countries effect the currency pairs you trade is vital to your long-term success.</p>

                <h4 class="text-left">Interest Rate Risk</h4>
                <p>A rise or decline in interest rates during the term a trade is open, will affect the amount of interest you might pay per day until the trade is closed. Open trades at rollover are assessed either an interest charge or interest gain depending upon the direction of the open trade and the interest rate levels of the corresponding countries. If you sell the currency with the higher interest rate you will be charged daily interest at the time of rollover based on your broker's rollover/interest policy. For more specifics on understanding your interest risk, please consult your broker for complete details of their policy including time of rollover, interest price (also called swap) and account requirements to receive interest paid to your account.</p>

                <h4 class="text-left">Political/Economic Risk</h4>
                <p>This represents the risk that a country's economic or political events will cause immediate and drastic changes in the currency prices associated with that country. Another example of this risk is government intervention that we typically see with Japan and the need to maintain low currency prices to bolster their exports.</p>

                <h4 class="text-left">Market Risk</h4>
                <p>This is the most familiar of the risks we have discussed, and according to some, really the main risk to consider. Market risk is the day to day fluctuations in a currency pair's price; also referred to as volatility. Volatility is not so much a cause but an effect of certain market forces. Volatility is a measure of risk because it refers to the behavior, or "temperament," of your investment rather than the reason for this behavior. Because market movement is the reason why people can make money, volatility is essential for returns, and the more unstable the currency pair, the higher the chance it can go dramatically either way.</p>

                <h4 class="text-left">Technology Risk</h4>
                <p>This is a particular risk that many traders don't think much about. However, with the majority of individual Forex traders executing trades online, we are all technology reliant. Are you protected against technology failure? Do you have an alternative internet service? Do you have back-up computers that you could use if your primary trading computer crashes?</p>

                <h4 class="text-left">As you can see, there are several types of risk that a smart investor should consider and pay careful attention to in their trading.</h4>
                <br />
                <h4 class="text-left">The Risk Reward Balance</h4>
                <p>The risk/return balance could easily be called the iron stomach test. Deciding what amount of risk you can take on while allowing yourself to walk away from your computer without worrying and to get sound rest at night while you have long-term trades open is a trader's foremost important decision. The risk/return balance is the balance a trader must decide on between the lowest possible risk for the highest possible return. Remember to keep in mind that low levels of uncertainty (low risk) are associated with low potential returns and high levels of uncertainty (high risk) are associated with high potential returns. Trading is all about risk and probabilities. Understanding the inner functions of your Forex trading strategy(s) and proper placement of entry and exit orders will assist in limiting your risk exposure while maximizing your profit potential.</p>
                <p>What about how much of your account to place on each trade, or in other words the number of lots per trade? How much of your account have you lost in a single trade? Was it too much to swallow? If so, you might not have utilized proper risk management and over leveraged your trade. Establishing the right level of leverage and corresponding margin requirements are a big part of managing risk.</p>

                <h4 class="text-left">Main Elements of Risk Management:</h4>
                <p>An effective risk management program protects the reputation of a firm; improves the credibility and increases the competitive advantage of the firm in the marketplace.  Like any other activity in a business, risk management also involves some process which should be followed by the person (risk manager) who handles it.  The process includes identifying and evaluating the cause, creating risk control mechanisms and effective financing.  The full-scale risk management has four major elements, which are,</p>
                <ul class="about_li">
                    <li>Infrastructure</li>
                    <li>Culture</li>
                    <li>Process</li>
                    <li>Integration</li>
                </ul>
                <br />
                <p>These elements should be approached in a step-by-step process for effective management and eradication of risk.</p>


                <h4 class="text-left">Risk Assessment:</h4>
                <p>The Risk assessment process helps in the identification and prioritization of the risks. Risk assessment helps to identify the root cause or the source of the risk which makes it easier to overcome it. By identifying the risk causing factors the priorities can be set and measures or management can be done according to the type and the priority. </p>

                <h4 class="text-left">Risk Evaluation:</h4>
                <p>It is the second step and helps to control the loss. Depending upon the severity the occurrence probability should be calculated.  This will help to evaluate the potential loss.</p>

                <h4 class="text-left">Risk Control: </h4>
                <p>The most important process of risk management which includes risk prevention, acceptance, reduction. Depending on the risk and the element in which it occurred one can make use of the risk response or control.</p>

                <h4 class="text-left">Risk Monitoring:</h4>
                <p>Aggregate the information about the risk and the risk causing factors to create a risk management dashboard to monitor risks.</p>

                <h4 class="text-left">Risk Management Framework:</h4>
                <br />
                <ul class="about_li">
                    <li>Establish the context- Establishing the context defines the scope for the risk management process and sets the criteria against which risks will be assessed.</li>
                    <li>Risk identification- Identification of the reasons for risks and how things arise with further analysis.</li>
                    <li>Risk analysis- From the existing controls and consequences, analyzing the current risks in terms of the context of those controls.</li>
                    <li>Evaluate risks- Comparing the estimated levels of risk with the pre-established risk norms so the risk management priorities can be identified.</li>
                    <li>Treatment- A risk treatment is an action that is taken to manage risk.</li>
                    <li>Monitor and review-Monitoring is the process that tracks and evaluates the risks in an organization. The findings produced in this process can be used to create new strategies</li>
                    <li>Communicate- Consulting the external and internal stakeholders at each stage and discussing the risk management process.</li>
                </ul>
                <br />
                <p>Therefore the topic of risk management is an increasingly popular subject amongst forex traders.</p>

                <h4 class="text-left">How much trading capital do you need for forex?</h4>
                <p>Drawdown refers to how much investment or a trading account has fallen from the peak level ( from where it started)  before it can hit back to the same peak. It's usually expressed in terms of percentage between the peaks and the subsequent down it has faced in an investment or a trading account. Drawdown is an important unit of measurement to calculate the risk encountered and also used to compare the difference between fund performances and monitoring the personal trading account. Drawdown is a measure of downside volatility. Drawdown does not necessarily indicate a loss. It's just a unit to measure the difference, while losses typically refer to the difference in purchase rate to the current rate.</p>
                <p>A maximum drawdown is a maximum loss observed from a peak to a trough in a portfolio before its new peak is achieved. This is the unit to measure the downside risk of a portfolio achieved over a specified period of time. This can measure the largest losses in a specified time and not the frequency of losses.</p>

                <h4 class="text-left">Never risk more than 2%per trade</h4>
                <p>This rule is a money management strategy, where an investor risks not more than 2% of the available capital per trade. By doing this, the investor is avoiding the risk of ruin which is a probability of the drawdown. To implement, the investor first calculates 2% of the available trading capital. This rule can also be used with other risk management strategies to preserve a trader's capital. This was created by the investors to keep the investors within the risk parameter for the trading system.</p>

                <h4 class="text-left">Reward to risk ratio</h4>
                <p>Risk is the maximum losses one can incur while trading. Reward to risk ratio is nothing but reward divided by risk. A high risk/reward ratio minimizes the risk and maximizes the profit.</p>
                <p>So before you jump into forex trading, deep understanding of all the risk factors needs to be done. Good knowledge of all the concepts lingering around trading needs to be understood, to cut down the risk in the process and also achieve maximum profit or gain in the trade.</p>

            </div>
        </div>


        <div class="live_links">
            <a target="_blank" href="https://secure.idealfx.io/">Open Live Account</a> <span>or</span> <a target="_blank" href="https://secure.idealfx.io/">Open Demo Account</a>
        </div>